# Ignore tooling config files
tools/misp-wipe/misp-wipe.conf
tools/misp-backup/misp-backup.conf

# Ignore mkdocs site directory and mkdocs virtualenv
site/
tools/mkdocs

# venv
/venv/*

# Other
/vendors
/app/Vendor
/app/vendor
/app/composer*
!/app/composer.phar
!/app/composer.license
/app/composer.json
/lib
/.project
/.settings
/.buildpath
/.idea
.DS_Store
/.htaccess
/README
/app/tmp/GPG*
/app/tmp/sessions/sess_*
/app/tmp/logs/*.log
/app/tmp/cache/models/myapp*
/app/tmp/cache/persistent/myapp*
/app/tmp/cache/views/myapp*
/app/tmp/cache/misp_feed*
/app/tmp/browscap/*
/app/files/*
/app/tmp/cache/feeds/*.cache
/app/tmp/cache/feeds/*.cache.gz
/app/tmp/cache/feeds/*.etag
app/Lib/EventWarning/Custom/*
!app/Lib/EventWarning/Custom/empty
!/app/files/certs/empty
!/app/files/feed-metadata
!/app/files/empty
!/app/files/scripts/
!/app/files/warninglists
!/app/files/warninglists/*
!/app/files/noticelists
!/app/files/noticelists/*
!/app/files/misp-galaxy
!/app/files/misp-galaxy/*
!/app/files/misp-objects
!/app/files/misp-objects/*
!/app/files/misp-decaying-models
!/app/files/misp-decaying-models/*
!/app/files/misp-workflow-blueprints
!/app/files/misp-workflow-blueprints/*
/app/files/scripts/*.pyc
/app/files/scripts/*.py~
/app/files/scripts/__pycache__
/app/files/scripts/yara/__pycache__
/app/files/scripts/yara/*.pyc
/app/files/scripts/yara/*.py~
/app/files/scripts/mispzmq/*
!/app/files/scripts/mispzmq/mispzmq.py
!/app/files/scripts/mispzmq/mispzmqtest.py
/app/files/scripts/tmp/*
!/app/files/scripts/tmp/empty
/app/files/scripts/stix2/*
!/app/files/scripts/stix2/misp2stix2*.py
!/app/files/scripts/stix2/stix2misp*.py
/app/files/terms/*
!/app/files/terms/empty
!/app/files/browscap
!/app/files/geo-open
/app/webroot/img/logo.png
/app/webroot/img/custom/*
!/app/webroot/img/custom/empty
/app/webroot/img/orgs/*
!/app/webroot/img/orgs/ADMIN.png
!/app/webroot/img/orgs/MIL.be.png
!/app/webroot/img/orgs/MISP.png
!/app/webroot/img/orgs/NATO.png
!/app/webroot/img/orgs/NCIRC.png
/app/files/img/custom/*
!/app/files/img/custom/empty
!/app/files/img/orgs
/app/files/img/orgs/*
!/app/files/img/orgs/ADMIN.png
!/app/files/img/orgs/MIL.be.png
!/app/files/img/orgs/MISP.png
!/app/files/img/orgs/NATO.png
!/app/files/img/orgs/NCIRC.png
/app/Config/bootstrap.php
/app/Config/database.php
/app/Config/core.php
/app/Config/config.php
/app/Config/hmac_key.php
/app/Console/Command/training.json
/app/Lib/cakephp
/app/webroot/gpg.asc
/app/tmp/logs
/app/tmp/cached_exports/xml/*
/app/tmp/cached_exports/json/*
/app/tmp/cached_exports/text/*
/app/tmp/cached_exports/rpz/*
/app/tmp/cached_exports/snort/*
/app/tmp/cached_exports/suricata/*
/app/tmp/cached_exports/md5/*
/app/tmp/cached_exports/sha1/*
/app/tmp/cached_exports/csv_all/*
/app/tmp/cached_exports/csv_sig/*
/app/tmp/cached_exports/stix/*
/app/tmp/cached_exports/sha256/*
/app/tmp/cached_exports/bro/*
/app/Plugin/CakeResque
/app/Plugin/DebugKit
.gnupg
.smime
*.swp
*.iml
.ropeproject/
vagrant/.vagrant/
vagrant/*.log
/app/Lib/Dashboard/Custom/*
!/app/Lib/Dashboard/Custom/empty
/app/View/Emails/html/Custom/*
!/app/View/Emails/html/Custom/empty
/app/View/Emails/text/Custom/*
!/app/View/Emails/text/Custom/empty

.vscode/launch.json
