[submodule "libraries/noticelists"]
	path = libraries/noticelists
	url = https://github.com/MISP/misp-noticelist.git
[submodule "libraries/object-templates"]
	path = libraries/object-templates
	url = https://github.com/MISP/misp-objects.git
