[submodule "libraries/misp-noticelist"]
	path = libraries/misp-noticelist
	url = https://github.com/MISP/misp-noticelist.git
[submodule "libraries/misp-objects"]
	path = libraries/misp-objects
	url = https://github.com/MISP/misp-objects.git
