/plugins
/vendors
/lib
/build.properties
/build.xml
/.project
/.settings
/.buildpath
.DS_Store
/.htaccess
/cake
/index.php
/README
/app/tmp/sessions/sess_*
/app/tmp/logs/*.log
/app/files/*
/app/webroot/img/logo.png
