[submodule "app/Lib/cakephp"]
	path = app/Lib/cakephp
	url = https://github.com/cakephp/cakephp.git
	branch = 2.6
[submodule "PyMISP"]
	path = PyMISP
	url = https://github.com/MISP/PyMISP.git
	branch = master
