/vendors
/lib
/.project
/.settings
/.buildpath
.DS_Store
/.htaccess
/README
/app/tmp/sessions/sess_*
/app/tmp/logs/*.log
/app/tmp/cache/models/myapp*
/app/tmp/cache/persistent/myapp*
/app/tmp/cache/views/myapp*
/app/files/*
!/app/files/empty
/app/webroot/img/logo.png
/app/Config/bootstrap.php
/app/Config/database.php
/app/Config/core.php
/cakephp
/app/webroot/gpg.asc
/app/tmp/logs
