parameters:
    level: 0
    fileExtensions:
      - php
      - ctp
    ignoreErrors:
      - message: '#Undefined variable: \$this#'
        path: %currentWorkingDirectory%/templates
      - message: 'Function brotli_compress not found.'
        path: %currentWorkingDirectory%/