cybox>=2.1.0.21
jsonschema
lief>=0.13.1
maec>=4.1.0.17
misp-lib-stix2>=3.0.0
mixbox>=1.0.5
plyara>=2.0.2
pydeep2>=0.5.1
pymisp==2.4.175
python-magic
pyzmq
redis
stix>=1.2.0.11
# test dependencies
codecov
coveralls
nose
pip
requests-mock
