/* body.light-mode {
    background-color: #f1f2f4;
}


body.light-mode .sub-container {
    background-color: white;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}

body.dark-mode .sub-container {
    background-color: #363636;
    border: 1px solid #454545;
} */

.sidebar {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 2px 6px 0 rgb(0 0 0 / 12%);
}

.sidebar ~ main.content:after {
    background:#000;
}

.top-navbar {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 2px 6px 0 rgba(0,0,0,0.12);
}

.light-mode .sidebar-wrapper {
    border-right: 1px solid #ddd;
}

.light-mode .sidebar-wrapper {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.light-mode ul.sidebar-elements li > a.sidebar-link.active {
    background-color: #ebebeb;
}
.dark-mode ul.sidebar-elements li > a.sidebar-link.active {
    background-color: #375a7f;
}

ul.sidebar-elements li > a.sidebar-link.active::after {
    background-color: var(--cerebrate-color);
}

.light-mode .sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child {
    background-color: #ebebeb;
}
.dark-mode .sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child {
    background-color: #375a7f;
}

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child {
    background-color: unset;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child::after {
    background-color: var(--cerebrate-color);
}

ul.sidebar-elements li > a.sidebar-link {
    color: unset;
}

.light-mode ul.sidebar-elements > li > a.sidebar-link:hover {
    background-color: #f0f0f0;
}
.dark-mode ul.sidebar-elements > li > a.sidebar-link:hover {
    background-color: #375a7f;
}

/* sidebar sub-menu */
ul.sidebar-elements li.parent > a.sidebar-link::before {
    color: #bbb;
}

ul.sidebar-elements > li ul li > a.sidebar-link:hover {
    background-color: #e0e0e0;
}

/* 
    Header
*/
header.navbar-dark.top-navbar .header-menu > a:hover,
header.navbar-dark.top-navbar .header-breadcrumb .header-breadcrumb-item > a:hover {
    color: #d6d6d6 !important;
}
header.navbar-light.top-navbar .header-menu > a:hover,
header.navbar-light.top-navbar .header-breadcrumb .header-breadcrumb-item > a:hover {
    color: #6c757d !important;
}

.center-navbar nav.header-breadcrumb {
    color: white;
}

.navbar-dark .center-navbar nav.header-breadcrumb li.header-breadcrumb-item  a{
    color: white;
}
.navbar-light .center-navbar nav.header-breadcrumb li.header-breadcrumb-item a {
    color: black;
}

.header-breadcrumb-children {
    box-shadow: 
        0 1px 0 rgba(255, 255, 255, 0.07),
        inset 0 -1px 2px rgba(0, 0, 0, 0.5),
        inset 0 3px 5px rgba(0, 0, 0, 0.6);
}

.navbar-dark .right-navbar .header-menu a.nav-link {
    color: white;
}
.navbar-light .right-navbar .header-menu a {
    color: black;
}

.navbar-dark .left-navbar .navbar-brand img {
    filter: invert(1);
}
.navbar-light .left-navbar .navbar-brand img {
    filter: invert(0);
}

.navbar-dark .left-navbar .navbar-brand:hover img {
    filter: invert(1) drop-shadow(0px 0px 3px #fff);
}
.navbar-light .left-navbar .navbar-brand:hover img {
    filter: invert(0) drop-shadow(0px 0px 3px #000);
}

.navbar-light .composed-app-icon-container > .app-icon {
    background-color: black;
}
.navbar-dark .composed-app-icon-container > .app-icon {
    background-color: white;
}
