.matrix-table td {
    border-top: none;
}

.matrix-table th {
}

.matrix-table thead {
}

.matrix-table tbody {
    height: 470px;
    overflow-y: scroll;
}

td.matrix-interaction {
    cursor: pointer;
}

td.matrix-interaction:hover {
    background: #0088cc;
    color: white;
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 470px;
}

.extra-wrap {
    width: 100%;
}

.th-inner {
    color: white;
    position: absolute;
    top: 0;
    line-height: 30px;
    text-align: left;
    padding-left: 5px;
    margin-left: -5px;
}

.header-background {
    background-color: #363636;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
