.privateRedText div {
	color: #333333;
}

.eventgraph_header {
	background: #f9f9f9;
	box-shadow: 0px 0px 6px #B2B2B2;
	margin-bottom: 2px;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

select.center-in-network-header {
	margin-bottom: 0px;
	width: fit-content;
}

input[type="text"].center-in-network-header {
	top: 5px;
	margin: 0px;
	margin-left: 5px;
}

input[type="checkbox"].center-in-network-header {
	top: 0px;
	margin: 0px;
	margin-left: 5px;
}

label.center-in-network-header {
	user-select: none;
	font-weight: bold;
}

.center-in-network-header {
	position: relative;
	display: inline-block;
	top: 5px;
	margin-left: 5px;
}

.loadingPopover {
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -36px;
}

.loadingPopover.loadingText {
	margin: 0 0;
}

.popupDistriSeparator {
	height: 2px;
	background: #c8c8c8;
	margin-top: 35px;
	position: absolute;
	left: 5px;
	right: 5px;
}

#eventdistri_graph {
	position: relative;
	height: 290px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
}

#eventdistri_pb_container {
	margin-top: 80px;
	margin-bottom: 50px;
}

#eventdistri_pb_background {
	width: 400px;
	display: flex;
}

.distribution_checkboxes_dataset {
	margin-top: 0.5em;
}
.distribution_checkboxes_dataset label {
	margin-bottom: 0px;
	display: inline-block;
	margin-left: 20px;
}
.distribution_checkboxes_dataset input {
	margin: 0px;
	margin-right: 3px;
}

.animatedPB {
	width: 0%;
	transition: width 0.5s;
	box-shadow: inset 0px 7px 5px -6px rgba(0, 0, 0, 0.5);
}

#eventdistri_pb_min {
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.3);
	position: absolute;
	height: 14px;
	margin-top: 2px;
	margin-left: 2px;
}

#eventdistri_sg_pb {
	color: white;
	text-align: center;
}

.sharingGroup_pb_text {
	float: left;
	margin-right: 5px;
}

.pbDistributionText {
	position: absolute;
	line-height: 12px;
}

.pbDistributionTick {
	position: absolute;
	width: 3px;
	height: 23px;
	z-index: -1;
	background: black;
	border-radius: 4px;
}

.customProgress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
}

.sharingNetworkOrgFinder {
	position: absolute !important;
	right: 30px !important;
}
