.info_container_eventtimeline {
	margin-top:10px;
	border: 1px solid #0088cc;
	border-radius: 7px;
	box-shadow: 0px 0px 6px #B2B2B2;
	width: 100%;
	min-height: 100px;
	padding: 1px;
}

.vis-timeline {
	position: relative;
	border: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.fullscreen-btn-timeline {
	float: right;
	display: inline-block;
	bottom: 33px;
	position: relative;
	right: 3px;
	opacity: 0.7;
	z-index: 1;
	cursor: nesw-resize;
}

.loadingTimeline {
	display: none;
	position: absolute;
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

.loadingTimeline > div.loadingText {
	left: 0px;
}

.timestamp-obj {
	box-shadow: #ff0000 0px 0px 0px 5px;
}

.timestamp-attr {
	box-shadow: #ff0000 0px 0px 0px 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.vis-item.attribute {
	background-color: orange;
	border-color: black;
}
.vis-item.attribute.vis-selected {
	box-shadow: 0 0 20px rgba(82, 168, 236, 1);`
}

.vis-item.object {
	background-color: #3465a4;
	border-color: black;
	color: white;
}
.vis-item.object.vis-selected {
	box-shadow: 0 0 20px rgba(82, 168, 236, 1);`
}

.vis-item.object_attribute {
	background-color: greenyellow;
	border-color: green;
}

.timeline-objectName {
	text-align:left;
	border-bottom: white solid 1px;
}
.timeline-objectAttrType {
	text-align:left;
	line-height: 14px;
	font-style: italic;
}
.timeline-objectAttrVal {
	text-align:left;
	line-height: 14px;
	padding-left: 5px;
}

