.info_container_eventtimeline {
	position: relative;
	margin-top:10px;
	border: 1px solid #0088cc;
	border-radius: 7px;
	box-shadow: 0px 0px 6px #B2B2B2;
	width: 100%;
	min-height: 100px;
	padding: 1px;
}

.vis-timeline {
	position: relative;
	border: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.fullscreen-btn-timeline {
	float: right;
	display: inline-block;
	bottom: 33px;
	position: relative;
	right: 3px;
	opacity: 0.7;
	z-index: 1;
	cursor: nesw-resize;
}

.loadingTimeline {
	display: none;
	position: absolute;
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

.loadingTimeline > div.loadingText {
	left: 0px;
}

.timestamp-obj {
	box-shadow: #ff0000 0px 0px 0px 5px;
}

.timestamp-attr {
	box-shadow: #ff0000 0px 0px 0px 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.vis-item.attribute {
	background-color: orange;
	border-color: black;
}
.vis-item.attribute.vis-selected {
	box-shadow: 0 0 20px rgba(82, 168, 236, 1);`
}

.vis-item.object {
	background-color: #3465a4;
	border-color: black;
	color: white;
}
.vis-item.object.vis-selected {
	box-shadow: 0 0 20px rgba(82, 168, 236, 1);`
}

.vis-item.object_attribute {
	background-color: greenyellow;
	border-color: green;
}

.timeline-objectName {
	text-align:left;
	border-bottom: white solid 1px;
}
.timeline-objectAttrType {
	text-align:left;
	line-height: 14px;
	font-style: italic;
}
.timeline-objectAttrVal {
	text-align:left;
	line-height: 14px;
	padding-left: 5px;
}

.vis-delete {
    top: -8px !important;
    padding: 3px !important;
    height: 22px !important;
    width: 20px !important;
}

.vis-expand-action {
    position: absolute;

    padding: 3px 2px !important;
    height: 22px !important;
    width: 22px !important;


    top: 15px;
    right: -25px;
    box-sizing: border-box;
    cursor: pointer;

    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.vis-item .vis-expand-action:after {
    color: green;
    font-family: arial, sans-serif;
    font-size: 22px;
    font-weight: bold;

    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.expand-btn:after {
    content: "\21d4";
}
.collapse-btn:after {
    content: "\21b5";
}
.vis-item .vis-expand-action:hover {
    background: green;
}
.vis-item .vis-expand-action:hover:after {
    color: white;
}

.vis-onUpdateTime-tooltip {
    background: #7b7b7b !important;
    padding: 0px !important;
    border-radius: 5px !important;
    border: solid 1px #000 !important;
}

#timeline-typeahead {
    width: 400px;
}
