.pagination li.page-item > a.page-link > .ellipsis {
    line-height: 12px;
    vertical-align: top;
}

.loading-overlay-container {
    backdrop-filter: blur(1px);
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.text-black {color:black;}
.text-white {color:white;}

.fa-stack-small {
    font-size: 0.6em;
}

.lh-1 {
    line-height: 1;
}
.lh-2 {
    line-height: 1.5;
}

.cursor-pointer {
    cursor: pointer;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.topbar-contextual-filter button.btn:not(:first-child) {
    border-left: 1px solid #77777733;
}

input[type="checkbox"].change-cursor {
    cursor: pointer;
}

input[type="checkbox"]:disabled.change-cursor {
    cursor: not-allowed;
}

.topbar-contextual-filter button.btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container {
    z-index: 1060;
}

.select2-container--bootstrap-5 {
    color: var(--bs-body-color);
}

.grow-on-hover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all .2s ease-out;
    transform-style: preserve-3d;
}

.grow-on-hover:hover {
    -webkit-transform: translateZ(0) scale(1.05);
    -moz-transform: translateZ(0) scale(1.05);
    transform: translateZ(0) scale(1.05);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

<<<<<<< HEAD
.settings-group.to-be-slided {
    opacity: 0;
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
=======
.fa.helptext-in-cell, .fas.helptext-in-cell {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -6px;
}

.templateTableHeader {
    display:inline-block;
}

.templateTableColumnName {
    color:#0077bb;
    font-weight:bold;
    text-decoration:underline;
}

.templateElementHeader {
    background:#0088cc;
    color:white;
    font-weight:bold;
    height:25px;
    border-radius: 7px 7px 0 0;
}

.templateElementHeaderText {
    position: absolute;
    padding-left:8px;
    padding-top:4px;
}

.templateGlass {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    border-radius: 7px 7px 0 0;
    background: rgba(0,0,0,0.1.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.1),
        inset 0 10px 20px rgba(255,255,255,0.3),
        inset 0 -15px 30px rgba(0,0,0,0.3);

}

.addTemplateElement {
    position:relative;
    box-shadow: 4px 2px 4px 2px #aaa;
    margin: 0 0 15px 0;
    height:40px;
    line-height:40px;
    background-color: #FFFFFF;
    padding:0 !important;
    border: 1px dashed black !important;
    border-radius: 8px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    color:#0088cc;
    font-size:200%;
    z-index:0;
}


.popover_choice legend {
    margin-bottom:0px !important;
    border-bottom:0px !important;
}

.popover_choice form {
    margin-bottom:0px !important;
    border-bottom:0px !important;
}

.popover_choice_main {
    max-height:400px;
    overflow-y:auto;
}

.templateChoiceButton {
    text-align:center;
    width:100%;
    line-height:30px;
    border-top:1px solid black;
    cursor: pointer;
}

.templateChoiceButton:hover {
    background-color:#bbb !important;
    color:white;
}

.selected-tag {
    background-color:#0088cc !important;
    color:white;
}

input.select, input.select_attribute, input.select-all {
    margin-top: 0; /* remove top margin for checkboxes in index table */
}

.templateChoiceButtonLast {
    border-radius:0 0 10px 10px;
    color:white;
    background-color:black;
}

.templateTypeBox {
    float:left;
    margin-right:5px;
    padding-left:2px;
    padding-right:2px;
    margin-bottom:3px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #888888;
    border:1px solid #0088cc;
    background-color:white;
    color:#0088cc;
}

.populate_template_div_body {
    padding:8px;
}

.populate_template_div_body .left {
    float:left;
    width:200px;
    color:#0088cc;
    font-weight:bold;
    margin-bottom:5px;
}

.populate_template_div_body .right {
    float:left;
    width:calc(100% - 200px);
    margin-bottom:5px;
}

.populate_template_div_body .left-inverse {
    float:left;
    width:200px;
    background-color:#0088cc;
    color:white;
    font-weight:bold;
    margin-bottom:5px;
}

.populate_template_div_body .right-inverse {
    float:left;
    width:calc(100% - 200px);
    background-color:#0088cc;
    color:white;
    margin-bottom:5px;
}

.template_mandatory {
    font-weight:bold;
}

.template_file_box {
    background-color:#0088cc;
    color:white;
    white-space:nowrap;
}

.template_file_box_container {
    float:left;
    padding:3px;
}

.drop {
    min-height: 150px;
    width: 250px;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
}

.visibleDL {
    background-color: red !important;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
}

.red {
    color: red !important;
}

.blue {
    color: #0088cc !important;
}

.grey {
    color: #a8a8a8 !important;
}

.green {
    color: green !important;
}

.black {
    color: black !important;
}

.orange {
    color: orange !important;
}

.white {
    color: white !important;
}

.white {
    color: white;
}

.json_key {
    color: #690;
    font-weight: bold;
}

.json_string, .json_boolean, .json_number {
    color: #905;
}

.json_null {
    color: #a8a8a8;
}

.background-lightblue {
    background-color:#cfefff;
}

.red-background {
    background-color:red;
}

.blue-background {
    background-color:#0088cc;
}

.green-background {
    background-color:green;
}

.bold {
    font-weight: bold;
}

.background-red {
    background: red !important;
    color: white !important;
}

.background-blue {
    background: #0088cc !important;
    color: white !important;
}

.background-light-red {
    background: #ffcccc !important;
    color: white !important;
}

tr.deleted-attribute td {
    background-color: #d3d7cf !important;
}

.background-deleted {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    ) !important;
}

.align-right {
    text-align: right !important;
}

.hidden {
    display:none;
}

.hidden-important {
    display:none !important;
}

a.discrete {
    color:black;
    text-decoration:none;
    font-weight:normal;
}

.multi-page-form-div {
    border:1px solid #dddddd;
    padding:10px;
}

.verticalSeparator {
    border-left: 1px solid grey;
}

.dashboard_element{
    background-color: white;
    border: 1px solid #0088cc;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    padding-left:10px;
    padding-right:10px;
    width: 100%;
    height: 100%;
}

.dashboard_container {
    margin-right:15px;
}

.warning_container {
    border-radius: 7px;
    padding: 0 10px 10px 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}

.false_positive {
    border: 1px solid red;
}

.false_positive h4 {
    color: red;
}

.known_identifier {
    border: 1px solid orange;
}

.known_identifier h4 {
    color: orange;
}


#galaxies_div {
    position: relative;
    padding: 35px 15px 15px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 40em;
}

#galaxies_div > .title-section {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #6b6b6b;
    border-radius: 3px 0 3px 0;
}

#galaxies_div .galaxyQuickView ul {
    font-size: 13px;
}

.galaxyQuickView {
    padding-bottom: 4px;
}

.galaxyQuickView h3 {
    font-size: 14px;
    color: #0088cc;
    margin-bottom: 0;
    margin-top: 2px;
}

.galaxyQuickView ul {
    list-style: none;
    color: #0088cc;
    margin: 0 0 0 8px;
    font-size: 12px;
}

.galaxyQuickView ul a, .galaxyQuickView h3 a {
    font-size: 12px;
}

button.addButton {
    line-height: 10px;
    padding: 2px;
    margin-right: 5px;
    margin-top: 1px;
}

button.addButton .fa-plus {
    font-size: 11px;
    line-height: 13px;
}

.info_container_form {
    border: 1px solid black; /*like Alexandre's heart*/
    border-radius: 7px;
    padding-left:10px;
    padding-right:10px;
    width: 438px;
    height: 100%;
    margin-bottom:10px;
}

.bottomGap {
    margin-bottom:5px;
}

.highlightedBlock {
    border:1px solid black;
    background-color:white;
    padding:5px;
    border-radius:5px;
}

.greyHighlightedBlock {
    border:1px solid #cccccc;
    background-color:white;
    padding:5px;
    border-radius:5px;
    height:228px;
    width:320px;
    overflow-y:scroll;
    line-height:12px;
}

.indent {
    text-indent: 2em;
}

.tooltip-inner {
    white-space:pre-wrap !important;
}

.progress-queued .bar, .progress .bar-queued {
    background-color: #A0A0A0;
    background-image: linear-gradient(to bottom, #dbdbdb, #bfbfbf);
    background-repeat: repeat-x;
}

.progress-queued.progress-striped .bar, .progress-striped .bar-warning {
    background-color: #A0A0A0;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

table.table.table-striped tr.deleted_row td {
    background: #ffcccc !important;
    color: white !important;
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
}

.popover-back {
    border-top:1px solid black;
    line-height: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align:center;
    width:100%;
}

/*
    nifty close-icon from http://stackoverflow.com/a/20139794/2622597
*/
.close-icon
{
  position:absolute;
  top:-10px;
  right:-10px;
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:black;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:black;
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

.close-icon.popup-close-icon {
	top:10px;
	right: 25px;
}

.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}
.sparkcircle {
  fill: #f00;
  stroke: none;
}

.sightings_advanced {
    width:1000px;
}

.vertical-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

.popover {
    max-width: 33%;
    color: #333333;
}

.checkbox input[type=checkbox] {
    margin-top:3px;
}

.simplepre {
    border:0px !important;
    background-color:#f4f4f4;
}

tr.tableInsetOrangeFirst td:first-child {
    box-shadow:
        inset 0px 2px 0px 0px #f57900,
        inset 3px 0px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrangeFirst td {
    box-shadow:
        inset 0px 2px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrangeFirst td:last-child {
    box-shadow:
    inset 0px 2px 0px 0px #f57900,
    inset -2px 0px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrangeMiddle td:first-child {
    box-shadow:
        inset 3px 0px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrangeMiddle td:last-child {
    box-shadow:
    inset -3px 0px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrangeLast td:first-child {
    box-shadow:
        inset 0px -3px 0px 0px #f57900,
        inset 3px 0px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrangeLast td {
    box-shadow:
        inset 0px -3px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrangeLast td:last-child {
    box-shadow:
    inset 0px -3px 0px 0px #f57900,
    inset -3px 0px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrange td:first-child {
    box-shadow:
        inset 0px 2px 0px 0px #f57900,
        inset 0px -3px 0px 0px #f57900,
        inset 2px 0px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrange td {
    box-shadow:
        inset 0px 2px 0px 0px #f57900,
        inset 0px -3px 0px 0px #f57900;
    border-top:0px !important;
}

tr.tableInsetOrange td:last-child {
    box-shadow:
    inset 0px 2px 0px 0px #f57900,
    inset 0px -3px 0px 0px #f57900,
    inset -2px 0px 0px 0px #f57900;
    border-top:0px !important;
}

.tableHighlightBorder {
    border-radius: 3px !important;
    border-width: 3px;
    border-style: solid;
}

.tableHighlightBorderTop {
    border-radius: 3px !important;
    border-width: 3px;
    border-style: solid;
    border-bottom: 0px;
}

.tableHighlightBorderCenter {
    border-radius: 3px !important;
    border-width: 3px;
    border-style: solid;
    border-bottom: 0px;
    border-top: 0px;
}

.tableHighlightBorderBottom {
    border-radius: 3px !important;
    border-width: 3px;
    border-style:solid;
    border-top: 0px;
}

tr.tableHighlightBorderBottom td {
    border-top:0px !important;
        margin-bottom:10px;
}

.borderRed {
    border-color:#cc0000;
}

.borderOrange {
    border-color:#f57900;
}

.borderBlue {
    border-color:#3465a4;
}

tr.darkOrangeRow td, .darkOrangeElement {
    background-color: #ce5c00 !important;
    color: #ffffff;
    border-top:0px !important;
}

tr.blueRow td, .blueElement {
    background-color: #3465a4 !important;
    color: #ffffff;
    border-top:0px !important;
}

tr.lightBlueRow td, .lightBlueElement {
    background-color: #729fcf !important;
    border-top:0px !important;
}

tr.redRow td, .redElement {
    background-color: #cc0000 !important;
    color: #ffffff;
    border-top:0px !important;
}

tr.redRow td a, tr.redRow td a:hover,
tr.darkOrangeRow td a, tr.darkOrangeRow td a:hover,
tr.blueRow td a, tr.blueRow td a:hover {
    color: white;
    text-decoration: underline;
}

a.fa, a.fas, a.fa:hover, a.fas:hover {
    text-decoration: none !important;
}

.blank_table_row {
    height: 10px;
}

tr.blank_table_row td {
    background-color: #ffffff !important;
}

.down-expand-button {
    text-align:center !important;
    border:0px;
    padding:0px !important;
    width:100%;
    cursor: pointer;
    cursor: hand;
}

table tr:hover .down-expand-button {
    background: rgb(221, 221, 221) !important;
}

.wrap-text {
    word-wrap: break-word;
}

.nowrap {
    white-space:nowrap;
}

.strikethrough {
    text-decoration: line-through !important;
}

.highlighted_node {
    border:50px solid black;
}

.action-links > .fa {
    color:black;
}

.linkButton {
  background: none;
  border: none;
    padding: 0px;
  color: red;
  cursor: pointer;
    margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.no-side-padding {
    padding-right: 0px !important;
    padding-left:0px !important;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.label-icon {
    left: 5px;
    position: relative;
}

.nanosec-div {
    font-weight:bold;
    position: relative;
    width: 100%;
    text-align: center;
    top: -5px;
}

.larger-input-field {
    width: 270px !important;
}

.precision-tool {
    margin-left: 10px;
    display: inline-block;
}

.fa-as-icon {
    font-size: 20px;
    padding-left: 2px;
    padding-top: 2px;
    cursor: pointer;
    background-image: unset;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transition: background .2s linear;
    color: black;
}
.fa-as-icon:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 900;
    font-size: 22px;
    color: white;
>>>>>>> develop
}

.settings-group.to-be-slided.slide-in {
    animation: slide-in 0.2s forwards;
    animation-delay: 0.1s;
    -webkit-animation: slide-in 0.2s forwards;
    -webkit-animation-delay: 0.1s;
}

.apexcharts-svg {
    overflow: visible;
}

@keyframes slide-in {
    50% { opacity: 0.3; }
    100% { transform: translateX(0%); opacity: 1; }
}

.trends-arrow-up-black {
    display: inline-flex;
    min-width: 1em;
    min-height: 0.71em;
    position: relative;
}
.trends-arrow-up-black::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='223.995' width='383.98752' viewBox='0 0 383.98752 223.995' role='img'%3E%3Cpath d='m 367.9975,0 h -118.06 c -21.38,0 -32.09,25.85 -16.97,40.97 l 32.4,32.4 -73.37,73.38 -73.37,-73.37 c -12.5,-12.5 -32.76,-12.5 -45.25,0 l -68.69,68.69 c -6.25,6.25 -6.25,16.38 0,22.63 l 22.62,22.62 c 6.25,6.25 16.38,6.25 22.63,0 l 46.06,-46.07 73.37,73.37 c 12.5,12.5 32.76,12.5 45.25,0 l 96,-96 32.4,32.4 c 15.12,15.12 40.97,4.41 40.97,-16.97 V 16 c 0.01,-8.84 -7.15,-16 -15.99,-16 z' /%3E%3C/svg%3E%0A");.97,-16.97 V 16 c 0.01,-8.84 -7.15,-16 -15.99,-16 z' /%3E%3C/svg%3E%0A");
}

.trends-arrow-up-white {
    display: inline-flex;
    min-width: 1em;
    min-height: 0.71em;
    position: relative;
}
.trends-arrow-up-white::before {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='223.995' width='383.98752' viewBox='0 0 383.98752 223.995' role='img'%3E%3Cpath d='m 367.9975,0 h -118.06 c -21.38,0 -32.09,25.85 -16.97,40.97 l 32.4,32.4 -73.37,73.38 -73.37,-73.37 c -12.5,-12.5 -32.76,-12.5 -45.25,0 l -68.69,68.69 c -6.25,6.25 -6.25,16.38 0,22.63 l 22.62,22.62 c 6.25,6.25 16.38,6.25 22.63,0 l 46.06,-46.07 73.37,73.37 c 12.5,12.5 32.76,12.5 45.25,0 l 96,-96 32.4,32.4 c 15.12,15.12 40.97,4.41 40.97,-16.97 V 16 c 0.01,-8.84 -7.15,-16 -15.99,-16 z' /%3E%3C/svg%3E%0A");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='223.995' width='383.98752' viewBox='0 0 383.98752 223.995' role='img'%3E%3Cpath d='m 367.9975,0 h -118.06 c -21.38,0 -32.09,25.85 -16.97,40.97 l 32.4,32.4 -73.37,73.38 -73.37,-73.37 c -12.5,-12.5 -32.76,-12.5 -45.25,0 l -68.69,68.69 c -6.25,6.25 -6.25,16.38 0,22.63 l 22.62,22.62 c 6.25,6.25 16.38,6.25 22.63,0 l 46.06,-46.07 73.37,73.37 c 12.5,12.5 32.76,12.5 45.25,0 l 96,-96 32.4,32.4 c 15.12,15.12 40.97,4.41 40.97,-16.97 V 16 c 0.01,-8.84 -7.15,-16 -15.99,-16 z' /%3E%3C/svg%3E%0A");
}
