/* bootstrap changes */
body {
	font-size: 12px;
}

#topBar {
	 height:42px;
	 width:100%;
	 min-width:1300px;
}

input[type="file"] {
	margin-bottom: 10px;
}

button .full-width {
  width:100%;
}

.bottom-buffer {
	margin-bottom:10px;
}

/*.close{
	float:none;
}*/

h2{
	font-size: 25px;
	clear:both;
}
h3{
	font-size: 18px;
	line-height: 20px;
}
pre {
	font-size: 11px;

}
.nav-list {
	padding-right: 5px;
}

.nav-list > li > a {
	margin-right: -30px;
}

.navbar-lab .navbar-inner{
	background: #FF9900;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.navbar-lab .nav > li > a{
	text-shadow: none;
}

.navbar-inner{
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

/* MULTI-LEVEL DROPDOWNS FOR BOOTSTRAP */
.dropdown-menu .sub-menu {
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
	z-index: 2;
}

.dropdown-menu li:hover .sub-menu {
	visibility: visible;
	display: block;
}

.navbar .sub-menu:before {
	border-bottom: 7px solid transparent;
	border-left: none;
	border-right: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 7px solid transparent;
	left: -7px;
	top: 1px;
}
.navbar .sub-menu:after {
	border-top: 6px solid transparent;
	border-left: none;
	border-right: 6px solid #fff;
	border-bottom: 6px solid transparent;
	left: 10px;
	top: 1px;
	left: -6px;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
	display: block;
}

th.filter {
	white-space:nowrap;
}
th.filter a {
	cursor: pointer;
}

td.searchLabel{
	opacity: 50;
	height: 20px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align:top;
	background-color: #F2F2F2;
	box-shadow: 0px 0px 6px #B2B2B2;
}
td.searchLabelFirst{
	opacity: 50;
	height: 20px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align:top;
	background-color: #F2F2F2;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 0px 6px #B2B2B2;
}
td.searchLabelCancel{
	opacity: 50;
	height: 20px;
	width: 20px;
	padding-top: 4px;
	padding-left: 5px;
	vertical-align:top;
	background-color: #FFFFFF;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 6px #B2B2B2;
}

.dropdown-menu{
	top: 90%;
}

form .error-message {
	border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	background-color: #f2dede;
}


/* Form */
div.form,
div.index,
div.view {
  float:right;
  width:calc(100% - 216px);
  border-left:1px solid #666;
  padding:0px 10px;
  padding-bottom:40px;
}
div.actions {
  float:left;
  width:170px;
}


div.actions h3 {
  padding-top:0;
  color:#777;
}

div.input{
	float:left;
	width: 230px;
}

div.forminfo{
	font-size: 80%;
	width:  220px;
	opacity: 50;
	margin-top: 0px;
	margin-bottom: 10px;
	float: top;
	background-color: #F2F2F2;
	border-radius: 5px;
	box-shadow: 0px 0px 6px #B2B2B2;
}

div.visualisation{
	font-size: 80%;
	display: inline-block;
	opacity: 50;
	margin-top: 0px;
	margin-bottom: 10px;
	float: top;
	background-color: #F2F2F2;
	border-radius: 5px;
	box-shadow: 5px 5px 6px #B2B2B2;
}

div.message{
	font-size: 133%;
	opacity: 50;
	margin-bottom: 15px;
	padding: 5px;
	float: top;
	color: #FFFFFF;
	background-color: #C11B17;
	border-radius: 10px;
	box-shadow: 5px 5px 8px #B2B2B2;
}

.clear{
	clear:both;
}

/** Tables **/
/* Tables */
table.fullwidth {
		width:100%;
		clear:both;
		font-size:12px;
		padding:1px;
		margin-bottom:10px;
}

table.fullwidth th {
		height:28px;
		text-transform:uppercase;
		font-size:10px;
}

table.fullwidth td{
		padding:3px;
		margin:1px 0;
		text-align:center;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}

td.short {
	width:5%;
	white-space: nowrap;
	text-align: left;
}

td.shortish {
	width:10%;
	text-align: left;
}

td.limitedWidth {
	max-width:400px;
	word-wrap:break-word;
}

td.bitwider {
	width:20%;
	text-align: left;
}

td.highlight1 {
	background-color: #0088cc !important;
	color: #ffffff !important;
}

td.highlight2 {
	background-color: #747170 !important;
	color: #ffffff !important;
}

td.highlight3 {
	background-color: red !important;
	color: #ffffff !important;

}

tr.highlightBlueSides {
	border-left:2px solid #0088cc;
	border-right:2px solid #0088cc;
}

tr.highlightBlueTop {
	border-top:2px solid #0088cc;
}

tr.highlightBlueBottom {
	border-bottom:2px solid #0088cc;
}

table.fullwidth {
		border:1px solid #f0f0f0;
}

table.fullwidth th, table.fullwidth th a {
 background:#0088CC;
 color:#fff;
 text-decoration:none;
}


table.fullwidth tr{
	color:#333;
	cursor:pointer;
}


table.fullwidth tr:nth-child(2n) {
	background:#f9f9f9;
	color:#333;
}

table.fullwidth tr:hover{
 color:#333;
 background: #ffffdd;
}

table.fullwidth th:hover{
 color:#fff;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-color: #CFEFFF;
}


th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}

td.action-links {
	text-align: right;
}

.showspaces {

}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	overflow: hidden
	/*width: 60%;*/
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	float:left;
	font-weight: bold;
	padding: 0;
	margin: 0;
	vertical-align: top;
	width: 150px;
}
dd {
	float:left;
	vertical-align: top;
	width: calc(100% - 150px);
	padding: 0;
	margin: 0;
}


/*NOTIFICATION MESSAGES*/

.block {
  text-align: center;
  margin: 20px;
  height: 500px;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
 }

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  padding: 10px 15px;
  border: #a0a0a0 solid 1px;
  background: #f5f5f5;
  text-align: left;
 }


/** Debugging **/

/* SQL log */
.cake-sql-log {
	display: block;
	clear: both;
	background: black;
	color: #dddddd;
}
.cake-sql-log tr {
	border: #dddddd solid 1px;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;

}
.cake-sql-log caption {
	color:#fff;
}

/* footer */
.footer {
	clear: both;
	float: bottom;
	width:100%;
	bottom:0px;
	height:42px;
	min-width:1300px;
	z-index: 2;
}

.debugOff {
	position:fixed;
}

.debugOn {
	position:relative;
}

.debugOff-layout {
	position:fixed;
	padding-top:50px;
	width:98%;
}

.debugOn-layout {
	position:relative;
	padding-top:10px;
	width:98%;
}

#attributes_div {
	min-width: 1400px;
}

@media screen and (max-height:600px) {
	.debugOff.sideMenu {
		position:relative !important;
	}
}

#footerContainer {
	z-index: 20;
	position:relative;
}

/* footer shortcut list */
#shortcutsListContainer {
	z-index: 10;
	position: absolute;
	background-color: #1b1b1b;
	top: 0;
	width:100%;
}

#triangle {
	cursor: pointer;
	position:fixed;
	background-color: #1b1b1b;
	width: 20px;
	height: 20px;
	bottom:30px;
	right: 30px;
	transform: rotate(45deg);
}

#shortcutsList {
	top: 0;
	width: 100%;
	position:relative;
	color: #999999;
	margin: 5px 5px 0px 5px;
}

/* header */
.header {
	width:100%;
	z-index: 2;
}

/* fonts for logo */
.logoBlueStatic {
	color: #0088cc;
}

@-webkit-keyframes bluePulse {
  from { color: #007d9a; text-shadow: #333 0 0 1px; }
  50% { color: #0088cc; text-shadow: #0099E6 0 0 3px; }
  to { color: #007d9a; text-shadow: #333 0 0 1px; }
}

@keyframes bluePulse {
  from { color: #007d9a; text-shadow: #333 0 0 1px; }
  50% { color: #0088cc; text-shadow: #0099E6 0 0 3px; }
  to { color: #007d9a; text-shadow: #333 0 0 1px; }
}

.logoGray {
	color: #999999;
}

.glass {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,0.25);
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.1), inset 0 10px 20px rgba(255,255,255,0.3), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.footerText {
	color: #999999;
}
.footerRightText {
	padding-right:20px;
	padding-top:12px;
}

.footerLeftText {
	float:left;
	z-index: 2;
	padding-top:12px;
}

.footerCenterText {
	padding-top:12px;
	position: absolute;
	width:100%;
	text-align:center;
}

.privateRedText {
	color: #FF0000 !important;
	font-weight:bold !important;
}

.discussionBox {
	border-collapse: separate;
	box-shadow: 5px 5px 5px #888888;
	width:100%;
	max-width:900px;
}

.discussionBoxTD {
	padding-right: 8px;
	padding-left: 8px;
	border-style: solid;
	border-width: 0px;

}

.discussionBoxTDtop {
	color: #ffffff;
	background-color: #cccccc;
}

.discussionBoxTDbottom {
	background-color: #eeeeee;
	padding-left: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
}

.discussionBoxTDMid {
	padding-top: 8px;
	height: 100px;
	vertical-align: top;
}

.discussionBoxTDMidLeft {
	background-color: #eeeeee;
	width: 80px;
	text-align:center;
}

.discussionBoxTDMidRight {
}

.whitelink {
	color:#ffffff;
}

.quote {
	margin: 0 10px;
	margin-bottom: 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #f2f6f8 none;
	border-radius: 0px;
	border: 1px solid #417394;
	position: relative;
	top: 0;
	padding: 4px;
}

.loading {
	display: none;
	text-color: #0088cc;
	position: fixed;
	top: 50%;
	left: 50%;
	right: 50%;
	bottom: 50%;
}

.loadingText {
	color: #0088cc;
	position: relative;
	top: -45px;
	left: 13px;
}
.toggle {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}

.toggle-left {
	border-bottom-right-radius: 0px !important;
	-webkit-bottom-right-radius: 0px !important;
	-moz-border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
	-webkit-top-right-radius: 0px !important;
	-moz-border-top-right-radius: 0px !important;
}

.toggle-right {
	border-bottom-left-radius: 0px !important;
	-webkit-bottom-left-radius: 0px !important;
	-moz-border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	-webkit-top-left-radius: 0px !important;
	-moz-border-top-left-radius: 0px !important;
}

.spinner {
   height:60px;
   width:60px;
   margin:0 auto;
   position:relative;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border:6px solid rgba(0,174,239,.15);
   border-radius:100%;
   z-index:15;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(0,136,204,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
   z-index:15;
}

.qet {
	padding:1px 5px !important;
	font-size:12px !important;
	float:left !important;
}

.proposal_span {
	padding-right: 25px;
}

a.proposal_link, a.proposal_link_red {
	text-decoration:none;
	font-weight:normal;
}

a.proposal_link:visited, a.proposal_link:link {
	color:#999999;
}
a.proposal_link:hover {
	color:white;
}
a.proposal_link_red:visited, a.proposal_link:link {
	color:#999999;
}
a.proposal_link_red:hover {
	color:red;
}

.tag {
	display: inline-block;
	padding: 2px 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #888888;
}

.tagFirstHalf {
	display: inline-block;
	padding: 2px 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 3px 3px 3px #888888;
}

.tagSecondHalf {
	display: inline-block;
	padding:2px 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 3px 3px 3px #888888;
	background-color:black;
	color:white;
}

.tagComplete {
	display: inline-block;
	padding:2px 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #888888;
}

.topGap {
	padding-top:100px;
}

.confirmation_box {
	display:none;
	width: 300px;
	top:calc(50% - 50px);
	left:calc(50% - 150px);
	position: fixed;
	background-color:#f4f4f4;
	border-radius: 5px;
	box-shadow: 4px 4px 4px #333;
	z-index:5;
}

.confirmation_box legend, .confirmation .legend {
	border-radius: 5px 5px 0px 0px;
	margin-bottom:5px;
	padding-left:5px;
	width:295px;
	background-color:black;
	color:white;
}

.popover-legend {
	border-radius: 5px 5px 0px 0px;
	margin-bottom:5px;
	padding-left:0px;
	background-color:black;
	color:white;
	font-size: 21px;
	line-height: 40px;
}

.popover-legend p {
	padding-left:10px;
}

.legend {
	display: block;
	width: 100%;
	padding: 0;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
}

.ajax_popover_form {
	display:none;
	width: 700px;
	top:15%;
	left:calc(50% - 350px);
	position: fixed;
	background-color:#f4f4f4;
	border-radius: 11px 11px 10px 10px;
	box-shadow: 4px 4px 4px #333;
	z-index:5;
}

.ajax_popover_form_large {
    width: 1400px;
    left: calc(50% - 700px);
}

.screenshot_box {
	display:none;
	position: fixed;
	top:150px;
	background-color:#f4f4f4;
	border-radius: 11px 11px 10px 10px;
	box-shadow: 4px 4px 4px #333;
	z-index:5;
}

.ajax_popover_form legend, .ajax_popover_form .legend {
	border-radius: 10px 10px 0px 0px;
	padding-left:10px;
	margin-bottom:0px;
	width:690px;
	background-color:black;
	color:white;
	font-size: 21px;
	line-height: 40px;
}

.ajax_popover_form .legend {
	border-radius: 10px 10px 0px 0px;
	padding-left:10px;
	width:690px;
	background-color:black;
	color:white;
	font-size: 21px;
	line-height: 40px;
}

.ajax_popover_form form {
	margin: 0 0 5px;
}

.overlay_spacing {
	padding-left:10px !important;
	padding-right:10px !important;
}

.ajax_popover_form .input-xxlarge {
	width:665px;
}

.ajax_popover_form textarea {
	height:120px !important;
}

.ajax_popover_form .add_attribute_fields {
	padding-left:10px;
}

.gray_out {
	display:none;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.75;
	filter: alpha(opacity=75);
	background-color: #000;
	z-index:4;
}

.ajax_container {
	display:none;
	bottom:50px;
	left:0;
	right:0;
	position: fixed;
	text-align:center;
}

.ajax_result {
	display: inline-block;
	text-align: left;
	height: 20px;
	z-index:-100;
	color: #fff;
	padding-left:10px;
	padding-right:10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 2px 2px 2px #888888;
}

.ajax_fail {
	background-color: red;
	z-index:-11;
}

.ajax_success {
	background-color: #0088cc;
	z-index:-111;
}

.ajaxMessage {
	display:none;
	margin-left:10px;
	width:665px;
}

.inline-input {
	width:100% !important;
	margin-bottom:0px !important;
	padding: 0px 0px !important;
	font-size: 12px !important;
	position:relative;
}

.inline-input textarea{
	padding-left: 3px !important;
}

.inline-input-button {
	width:19px;
	height:17px;
	bottom:-17px;
	background-color: #fff;
	position:absolute;
	z-index:100;
}

.inline-input-active {
	border-bottom: 1px solid rgba(82, 168, 236, 0.8);
	border-right: 1px solid rgba(82, 168, 236, 0.8);
	border-left: 1px solid rgba(82, 168, 236, 0.8);
}

.inline-input-passive {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.inline-input-button span {
	display:block;
	margin: 0 auto;
}

.inline-input-accept {
	right:32px;
}

.inline-input-decline {
	right:10px;
}

.inline-form {

	margin-bottom:0px !important;
}

.inline-delete {
	margin-bottom:0px !important;
}

.tabMenu {
	position:absolute;
	top:-23px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid #ddd;
	border-bottom: 0px !important;
	background-color: #f9f9f9;
	border-collapse: separate !important;
}

.tabMenuFixedContainer {
	position:relative;
	left:10px;
	height:20px;
	width:calc(100% - 10px);
	bottom:0px;
	min-width:1100px;
}

#server-settings-container {
	min-width:1100px;
}

.settingsTableContainer {
	border:1px solid #dddddd;
	margin-top:1px;
	margin-bottom:0px;
	width:100%;
	padding:10px;
}

.settingsTableContainerOutline {
	border:1px solid #dddddd;
	margin-top:1px;
	width:95%;
	padding:10px;
	min-width:1100px;
}

.tabMenuFixedContainer > span:nth-child(1) {
	padding-left:10px;
}

.tabMenuFixedContainer > span:nth-last-child(1) {
	border-right: 1px solid #ddd;
	padding-right:10px;

}

.tabMenuFixed {
	position:relative;
	padding-top:3px;
	padding-bottom:3px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	padding-left:5px;
	padding-right:5px;
}

.tabMenuFixed:hover {
	background-color:#cfefff;
}

.tabMenuSides {
	border-top: 1px solid #ddd;
}

.tabMenuFilterFieldHeader {
	border-radius: 10px 0px 0 0 !important;
	height:14px !important;
	width:30px;
	margin:0px !important;
	margin-bottom:1px !important;
	padding:3px !important;
	padding-left:10px !important;
	border: 1px solid #ddd !important;
	border-bottom:0px !important;
	line-height:14px !important;
	margin-right:0px !important;
	margin-bottom:1px !important;
	float:right;
}

.tabMenuFilterField {
	border-radius: 10px 0 0 0 !important;
	height:20px !important;
	margin:0px !important;
	margin-bottom:1px !important;
	padding:0px !important;
	padding-left:10px !important;
	border-top: 1px solid #ddd !important;
	border-left: 1px solid #ddd !important;
	border-right:0px !important;
	border-bottom:0px !important;
	float:right;
}

.tabMenuFilterFieldButton {
	border-radius: 0px 10px 0 0 !important;
	background-color:#f9f9f9;
	height:20px !important;
	width:34px;
	padding-left:3px;
	margin:0px !important;
	margin-bottom:1px !important;
	border: 1px solid #ddd !important;
	border-bottom:0px !important;
	margin-right:200px !important;
	margin-bottom:0px !important;
	float:right;
}

.tabMenuFilterFieldButton:hover {
	background-color:#cfefff;
}

.tabMenuFixedLeft {
	padding-left:10px;
}

.tabMenuFixedRight {
	border-right: 1px solid #ddd;
	padding-right:10px;
}

.tabMenuFixedCenter {
	padding-right:10px;
	padding-left:10px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.tabMenuFixedElement {
	background-color: #f9f9f9 !important;
	border-top: 1px solid #ddd;
}

.tabMenuEditBlock {
	margin-left:5px;
}

.tabMenuToolsBlock {
	margin-left:200px;
}

.tabMenuFiltersBlock {
	margin-left:400px;
}

.attribute_filter_header {
	float:left;
	padding-top:3px;
	padding-right:5px;
}

.attribute_filter_text {
	float:left;
	cursor: pointer;
	padding-top:3px;
	padding-left:5px;
	padding-right:5px;
	border-left:1px solid #ddd;
	background-color:white;
}

.attribute_filter_text_active {
	float:left;
	cursor: pointer;
	padding-top:3px;
	padding-left:5px;
	padding-right:5px;
	border-left:1px solid #ddd;
	color:white;
	background-color:#0088cc;
}

.taxFilter {
	float:none !important;
	margin-bottom:0px !important;
}

.taxFilterButton {
	border-radius: 0px 10px 0 0 !important;
	border: 1px solid #ddd !important;
	border-bottom: 0px !important;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-right: 4px;
	background-color: #f9f9f9 !important;
}

.tabMenu [class^="icon-"] {
	vertical-align:baseline;
	margin-top:3px;
}

.tabMenuActive {
	color:white;
	background-color: #0088cc;
}

.attributehistogramBar {
	overflow: hidden;
	height:13px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #888888;
	margin-left:0px;
}

.attributehistogram-left-table {
	padding-right:15px;
}

.attributehistogram-canvas {
	border-left:1px solid;
	border-bottom:1px solid;
}

.attributehistogram-legend {
	float: left;
	padding:5px;
	border:1px solid;
}

.attributehistogram-last {
	border-bottom:1px solid;
}

.attributehistogram-legend-box {
	display:inline-block;
	width:10px;
	height:10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #888888;
}

.histogram-legendH4{
	margin-bottom: 0;
}

.attributehistogram-legend .col{float: left;margin: 0 0.4em 0 0;}

.attributeListContainer{
	position:relative;
	margin-top:10px;
}

.useCursorPointer {
	cursor: pointer;
	cursor: hand;
}

.template_general {
	display:inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.templateTable {
	border-collapse:collapse;
	border-spacing:0px 10px;
	width:100%;
}

.templateTableRow {
	width:100%;
	display:inline-block;
	box-shadow: 4px 2px 4px 2px #aaa;
	margin: 0 0 15px 0;
	background-color: #FFFFFF;
	padding:0px !important;
	padding-right:0px !important;
	border: 1px solid black !important;
	-webkit-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.templateTableRow80 {
	width:80% !important;
}

.templateTableArea {
	display:block;
	float:left;
	padding-top:4px;
	padding-bottom:4px;
}

.templateTableTDName {
	width: calc(15% - 6px) !important;
	padding-left:5px;
}

.templateTableTDDescription {
	width: 35% !important;
}

.templateTableTDCategory {
	width: 10% !important;
}

.templateTableTDDescriptionFile {
	width: 55% !important;
}

.templateTableTDText {
	width: 80%;
}

.templateTableTDShort {
	width: 5% !important;
}

.templateTableTDActions {
	width: 5% !important;
}

.templateTableTDTypes {
	width: 20% !important;
}

.templateTableNormal {
	width: 10% !important;
}

.templateTableCellFirst {
	box-sizing:border-box;
	display:inline-block;
	padding-left:8px !important;
}

.templateTableCell {
	padding-top:4px !important;
	padding-bottom:4px !important;
	display:inline-block;
	padding-left:0px !important;
	padding-right:0px !important;
	border-top:0px !important;
}

.templateTableHeader {
	display:inline-block;
}

.templateTableColumnName {
	color:#0077bb;
	font-weight:bold;
	text-decoration:underline;
}

.templateElementHeader {
	background:#0088cc;
	color:white;
	font-weight:bold;
	height:25px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}

.templateElementHeaderText {
	position: absolute;
	padding-left:8px;
	padding-top:4px;
}

.templateGlass {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	background: rgba(0,0,0,0.1.25);
	box-shadow: 0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.1),
		inset 0 10px 20px rgba(255,255,255,0.3),
		inset 0 -15px 30px rgba(0,0,0,0.3);

}

.addTemplateElement {
	position:relative;
	box-shadow: 4px 2px 4px 2px #aaa;
	margin: 0 0 15px 0;
	height:40px;
	line-height:40px;
	background-color: #FFFFFF;
	padding:0px !important;
	padding-right:0px !important;
	border: 1px dashed black !important;
	-webkit-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	color:#0088cc;
	font-size:200%;
	z-index:0;
}


.popover_choice legend {
	margin-bottom:0px !important;
	border-bottom:0px !important;
}

.popover_choice form {
	margin-bottom:0px !important;
	border-bottom:0px !important;
}

.popover_choice_main {
	max-height:400px;
	overflow-y:auto;
}

.templateChoiceButton {
	text-align:center;
	width:100%;
	line-height:30px;
	border-top:1px solid black;
}

.templateChoiceButton:hover {
	background-color:#bbb !important;
	color:white;
}

.selected-tag {
	background-color:#0088cc !important;
	color:white;
}

.templateChoiceButtonLast {
	border-radius:0 0 10px 10px;
	color:white;
	background-color:black;
}

.templateTypeBox {
	float:left;
	margin-right:5px;
	padding-left:2px;
	padding-right:2px;
	margin-bottom:3px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #888888;
	border:1px solid #0088cc;
	background-color:white;
	color:#0088cc;
}

.populate_template_div_body {
	padding:8px;
}

.populate_template_div_body .left {
	float:left;
	width:200px;
	color:#0088cc;
	font-weight:bold;
	margin-bottom:5px;
}

.populate_template_div_body .right {
	float:left;
	width:calc(100% - 200px);
	margin-bottom:5px;
}

.populate_template_div_body .left-inverse {
	float:left;
	width:200px;
	background-color:#0088cc;
	color:white;
	font-weight:bold;
	margin-bottom:5px;
}

.populate_template_div_body .right-inverse {
	float:left;
	width:calc(100% - 200px);
	background-color:#0088cc;
	color:white;
	margin-bottom:5px;
}

.template_mandatory {
	font-weight:bold;
}

.template_file_box {
	background-color:#0088cc;
	color:white;
	white-space:nowrap;
}

.template_file_box_container {
	float:left;
	padding:3px;
}

.drop {
	min-height: 150px;
	width: 250px;
	border: 1px solid blue;
	margin: 10px;
	padding: 10px;
}

.visibleDL {
	background-color: red !important;
	color: white;
	font-weight: bold;
}

.red {
	color: red !important;
}

.blue {
	color: #0088cc !important;
}

.grey {
	color: #a8a8a8 !important;
}

.green {
	color: green !important;
}

.black {
	color: black !important;
}

.orange {
	color: orange !important;
}

.white {
	color: white !important;
}

.white {
	color: white;
}

.json_key {
	color: #690;
	font-weight: bold;
}

.json_string, .json_boolean, .json_number {
	color: #905;
}

.json_null {
	color: #a8a8a8;
}

.background-lightblue {
	background-color:#cfefff;
}

.red-background {
	background-color:red;
}

.blue-background {
	background-color:#0088cc;
}

.green-background {
	background-color:green;
}

.bold {
	font-weight: bold;
}

.background-red {
	background: red !important;
	color: white !important;
}

.background-blue {
	background: #0088cc !important;
	color: white !important;
}

.background-light-red {
	background: #ffcccc !important;
	color: white !important;
}

tr.deleted-attribute td {
	background-color: #d3d7cf !important;
}

.background-deleted {
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	) !important;
}

.align-right {
	text-align: right;
}

.hidden {
	display:none;
}

a.discrete {
	color:black;
	text-decoration:none;
	font-weight:normal;
}

.multi-page-form-div {
	border:1px solid #dddddd;
	padding:10px;
}

.verticalSeparator {
	border-left: 1px solid grey;
}

.notification-active {
	float:left;
	background-color:red;
	color:white;
	border-radius: 50%;
	width:20px;
	height:20px;
}

.notification-passive {
	float:left;
	width:20px;
	height:20px;
}

.dashboard_element{
	border: 1px solid #0088cc;
	border-radius: 5px;
	box-shadow: 0px 0px 6px #B2B2B2;
	padding-left:10px;
	padding-right:10px;
	width: 100%;
	height: 100%;
}

.dashboard_container {
	margin-right:15px;
}

.warning_container {
	border: 1px solid red;
	border-radius: 7px;
	box-shadow: 0px 0px 6px #B2B2B2;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	width: 100%;
	height: 100%;
}

.info_container {
	border: 1px solid #0088cc;
	border-radius: 7px;
	box-shadow: 0px 0px 6px #B2B2B2;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	width: 400px;
	height: 100%;
}

.info_container_form {
	border: 1px solid black; /*like Alexandre's heart*/
	border-radius: 7px;
	padding-left:10px;
	padding-right:10px;
	width: 438px;
	height: 100%;
	margin-bottom:10px;
}

.info_container_key {
	vertical-align:text-top;
	width:100px;
	padding-bottom:10px;
}

.info_container_value {
	vertical-align:text-top;
	display:inline-block;
	width:300px;
	padding-bottom:10px;
	word-wrap:break-word;
}

.bottomGap {
	margin-bottom:5px;
}

.highlightedBlock {
	border:1px solid black;
	background-color:white;
	padding:5px;
	border-radius:5px;
}

.redHighlightedBlock {
	border:1px solid red;
	background-color:white;
	padding:5px;
	border-radius:5px;
	height:228px;
	width:320px;
	overflow-y:scroll;
	line-height:12px;
}

.indent {
	text-indent: 2em;
}

.tooltip-inner {
	white-space:pre-wrap !important;
}

.progress-queued .bar, .progress .bar-queued {
	background-color: #A0A0A0;
	background-image: -moz-linear-gradient(top, #dbdbdb, #bfbfbf);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dbdbdb), to(#bfbfbf));
	background-image: -webkit-linear-gradient(top, #dbdbdb, #bfbfbf);
	background-image: -o-linear-gradient(top, #dbdbdb, #bfbfbf);
	background-image: linear-gradient(to bottom, #dbdbdb, #bfbfbf);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffbfbfbf', GradientType=0);
}

.progress-queued.progress-striped .bar, .progress-striped .bar-warning {
	background-color: #A0A0A0;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

table.table.table-striped tr.deleted_row td {
	background: #ffcccc !important;
	color: white !important;
}

.caret-right {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid;
	display: inline-block;
	height: 0;
	opacity: 0.3;
	vertical-align: top;
	width: 0;
}

.popover-back {
	border-top:1px solid black;
	line-height: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align:center;
	width:100%;
}

.screenshot-collapsed {
	width:200px;
}

/*
	nifty close-icon from http://stackoverflow.com/a/20139794/2622597
*/
.close-icon
{
  position:absolute;
  top:-10px;
  right:-10px;
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:black;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:black;
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}
.sparkcircle {
  fill: #f00;
  stroke: none;
}

.sightings_advanced {
	width:1000px;
}

.vertical-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
}

.popover {
	max-width:33%;
}

.checkbox input[type=checkbox] {
	margin-top:0px;
}

.simplepre {
	border:0px !important;
	background-color:#f4f4f4;
}

tr.tableInsetOrangeFirst td:first-child {
	box-shadow:
		inset 0px 2px 0px 0px #f57900,
		inset 3px 0px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrangeFirst td {
	box-shadow:
		inset 0px 2px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrangeFirst td:last-child {
	box-shadow:
    inset 0px 2px 0px 0px #f57900,
    inset -2px 0px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrangeMiddle td:first-child {
	box-shadow:
		inset 3px 0px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrangeMiddle td:last-child {
	box-shadow:
    inset -3px 0px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrangeLast td:first-child {
	box-shadow:
		inset 0px -3px 0px 0px #f57900,
		inset 3px 0px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrangeLast td {
	box-shadow:
		inset 0px -3px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrangeLast td:last-child {
	box-shadow:
    inset 0px -3px 0px 0px #f57900,
    inset -3px 0px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrange td:first-child {
	box-shadow:
		inset 0px 2px 0px 0px #f57900,
		inset 0px -3px 0px 0px #f57900,
		inset 2px 0px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrange td {
	box-shadow:
		inset 0px 2px 0px 0px #f57900,
		inset 0px -3px 0px 0px #f57900;
	border-top:0px !important;
}

tr.tableInsetOrange td:last-child {
	box-shadow:
    inset 0px 2px 0px 0px #f57900,
    inset 0px -3px 0px 0px #f57900,
    inset -2px 0px 0px 0px #f57900;
	border-top:0px !important;
}

.tableHighlightBorder {
	border-radius: 3px !important;
	border-width: 3px;
	border-style: solid;
}

.tableHighlightBorderTop {
	border-radius: 3px !important;
	border-width: 3px;
	border-style: solid;
	border-bottom: 0px;
}

.tableHighlightBorderCenter {
	border-radius: 3px !important;
	border-width: 3px;
	border-style: solid;
	border-bottom: 0px;
	border-top: 0px;
}

.tableHighlightBorderBottom {
	border-radius: 3px !important;
	border-width: 3px;
	border-style:solid;
	border-top: 0px;
}

tr.tableHighlightBorderBottom td {
	border-top:0px !important;
		margin-bottom:10px;
}

.borderRed {
	border-color:#cc0000;
}

.borderOrange {
	border-color:#f57900;
}

.borderBlue {
	border-color:#3465a4;
}

tr.darkOrangeRow td, .darkOrangeElement {
	background-color: #ce5c00 !important;
	color: #ffffff;
	border-top:0px !important;
}

tr.blueRow td, .blueElement {
	background-color: #3465a4 !important;
	color: #ffffff;
	border-top:0px !important;
}

tr.lightBlueRow td, .lightBlueElement {
	background-color: #729fcf !important;
	border-top:0px !important;
}

tr.redRow td, .redElement {
	background-color: #cc0000 !important;
	color: #ffffff;
	border-top:0px !important;
}

.blank_table_row {
	height: 10px;
}

tr.blank_table_row td {
	background-color: #ffffff !important;
}

.down-expand-button {
	text-align:center !important;
	border:0px;
	padding:0px !important;
	width:100%;
	cursor: pointer;
	cursor: hand;
}

table tr:hover .down-expand-button {
	background: rgb(221, 221, 221) !important;
}

.wrap-text {
	word-wrap: break-word;
}

.nowrap {
	word-wrap:nowrap;
}

.strikethrough {
	text-decoration: line-through;
}

.highlighted_node {
	border:50px solid black;
}

.action-links > .fa {
	color:black;
}

.linkButton {
  background: none;
  border: none;
	padding: 0px;
  color: red;
  cursor: pointer;
	margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.no-side-padding {
	padding-right: 0px !important;
	padding-left:0px !important;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

#attackmatrix_div {
    border-color: #363636;
    overflow: visible;
    max-height: 700px;
    height: auto;
    margin-top: 30px;
    width: calc(100vw - 230px);
    min-width: 1400px;
}
