/* bootstrap changes */
body{
	font-family: "RobotoLight", Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 12px;
}

input, button, select, textarea{
	font-family: "RobotoLight"
}

button .full-width{
  width:100%;
}

.bottom-buffer { 
	margin-bottom:10px; 
}

/*.close{
	float:none;
}*/

h2{
	font-size: 25px;
	clear:both;
}
h3{
	font-size: 18px;
	line-height: 20px;
}
pre {
	font-size: 11px;
	
}
.nav-list {
	padding-right: 5px;
}

.nav-list > li > a {
	margin-right: -30px;
}

.navbar-lab .navbar-inner{
	background: #FF9900;

}
.navbar-lab .nav > li > a{
	text-shadow: none;
}

/* MULTI-LEVEL DROPDOWNS FOR BOOTSTRAP */
.dropdown-menu .sub-menu {
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
	visibility: visible;
	display: block;
}

.navbar .sub-menu:before {
	border-bottom: 7px solid transparent;
	border-left: none;
	border-right: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 7px solid transparent;
	left: -7px;
	top: 1px;
}
.navbar .sub-menu:after {
	border-top: 6px solid transparent;
	border-left: none;
	border-right: 6px solid #fff;
	border-bottom: 6px solid transparent;
	left: 10px;
	top: 1px;
	left: -6px;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
	display: block;
}

th.filter {
	white-space:nowrap;
}
th.filter a {
	cursor: pointer;
}

td.searchLabel{
    opacity: 50;
    height: 20px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align:top;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 6px #B2B2B2;
}
td.searchLabelFirst{
    opacity: 50;
    height: 20px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align:top;
    background-color: #F2F2F2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
}
td.searchLabelCancel{
    opacity: 50;
    height: 20px;
    width: 20px;
    padding-top: 4px;
    padding-left: 5px;
	vertical-align:top;
    background-color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
}

.dropdown-menu{
	top: 90%;
}


/* Form */
div.form,
div.index,
div.view {
  float:right;
  width:85%;
  border-left:1px solid #666;
  padding:10px 1%;
}
div.actions {
  float:left;
  width:10%;
}
div.actions h3 {
  padding-top:0;
  color:#777;
}

div.input{
	float:left;
	width: 230px;
}

div.forminfo{
	font-size: 80%;
    width:  220px;
    opacity: 50;
    margin-top: 0px;
    margin-bottom: 10px;
	float: top;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
}

div.visualisation{
	font-size: 80%;
	display: inline-block;
    opacity: 50;
    margin-top: 0px;
    margin-bottom: 10px;
	float: top;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 5px 5px 6px #B2B2B2;
}

div.message{
	font-size: 133%;
    opacity: 50;
    margin-bottom: 15px;
    padding: 5px;
	float: top;
	color: #FFFFFF;
    background-color: #C11B17;
    border-radius: 7px;
    box-shadow: 5px 5px 8px #B2B2B2;
}

.clear{
	clear:both;
}

/** Tables **/
/* Tables */
table.fullwidth {
		width:100%;
		clear:both;
		font-size:12px;
		padding:1px;
		margin-bottom:10px;
}

table.fullwidth th {
		height:28px;
		text-transform:uppercase;
		font-size:10px;
}

table.fullwidth td{
		padding:3px;
		margin:1px 0;
		text-align:center;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}

td.short {
	width:5%;
	white-space: nowrap;
	text-align: left;
}

td.highlight1 {
	background-color: #0088cc;
	color: #ffffff;
}

td.highlight2 {
	background-color: #747170;
	color: #ffffff;
	
}

table.fullwidth {
		 border:1px solid #f0f0f0;
}

table.fullwidth th, table.fullwidth th a {
 background:#0088CC;
 color:#fff;
 text-decoration:none;
}


table.fullwidth tr{
	color:#333;
	cursor:pointer;
}


table.fullwidth tr:nth-child(2n) {
	background:#f9f9f9;
	color:#333;
}

table.fullwidth tr:hover{
 color:#333;
 background: #ffffdd;
}

table.fullwidth th:hover{
 color:#fff;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-color: #CFEFFF;
}


th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}

td.action-links {
	text-align: right;
}

/*
.view_icon{
		background-position: 0 0;
 }
.edit_icon{
		 background-position: -17px 0;
}
.delete_icon{
		 background-position: -34px 0;
}
.tick_icon{
		width: 16px;
		height: 16px;
		display: block;
		background: url('../img/icons/icons-trans.png') -51px 0 no-repeat;
}
.cross_icon{
		width: 16px;
		height: 16px;
		display: block;
		background: url('../img/icons/icons-trans.png') -67px 0 no-repeat;
}
*/

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	/*width: 60%;*/
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 12em;
}
dd {
	margin-left: 12em;
	margin-top: -1.7em;
	vertical-align: top;
}


/*NOTIFICATION MESSAGES*/

.block {
  text-align: center;
  margin: 20px;
  height: 500px;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
 }

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  padding: 10px 15px;
  border: #a0a0a0 solid 1px;
  background: #f5f5f5;
  text-align: left;
 }


/** Debugging **/

/* SQL log */
.cake-sql-log {
	display: block;
	clear: both;
	background: black;
	color: #dddddd;
}
.cake-sql-log tr {
	border: #dddddd solid 1px;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	
}
.cake-sql-log caption {
	color:#fff;
}

	
