/* bootstrap changes */
.actions, .header, .footer, .cake-sql-log, .comment, .pagination, .action-links, .addTagTD .tagSecondHalf, .toggleButtons{
	display: none;
}

div.view{
	width: 99% !important;
}

.noPrint{
	display: none;
}

a[href]:after{
	content:none;
}