.info_container_references_network {
	position: relative;
	margin-top: 10px;
	border: 1px solid #0088cc;
	border-radius: 7px;
	box-shadow: 0px 0px 6px #B2B2B2;
	padding: 2px;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.references_network {
	height: inherit;
}

.spinner-network {
	height: 60px;
	width: 60px;
	margin: 0 auto;
	position: absolute;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border: 6px solid rgba(0,174,239,.15);
	border-radius: 100%;
	right: 10px;
	z-index: 15;
}

.spinner-network:before {
	content:"";
	display:block;
	position:absolute;
	left:-6px;
	top:-6px;
	height:100%;
	width:100%;
	border-top:6px solid rgba(0,136,204,.8);
	border-left:6px solid transparent;
	border-bottom:6px solid transparent;
	border-right:6px solid transparent;
	border-radius:100%;
	z-index:15;
}

.loadingText-network {
	color: #0088cc;
	margin: 0 auto;
	position: relative;
	top: 32px;
	text-align: center;
	font-size: 18px;
}

.loading-network-div {
	width:320px;
	height: 100px;
	position: absolute;
	top: 40px;
	right: 0;
}

.progressbar-network-div {
	position: relative;
	margin: 0 auto;
	right: 10px;
	top: 10px;
	width: 300px;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.shortcut-help {
	position: absolute;
	right: 5px;
	bottom: 2px;
	font-weight: bold;
	z-index: 1;
	cursor: help;
}

.fullscreen-btn {
	position: absolute;
	right: 45px;
	bottom: 2px;
	font-weight: bold;
	z-index: 1;
	cursor: nesw-resize;
}
.popover-content {
	white-space: pre-wrap;
}

.network-typeahead {
	position: absolute;
	right: 2px;
	z-index: 1;
}
