parameters:
	level: max
	paths:
		- Config
		- Console
		- Controller
		- Model
		- Plugin
		- Test
		- View
		- webroot
	scanDirectories:
		- Lib
		- Model
		- Test/_support/
		- Test/_support/Helper/Fixture/
		- Test/_support/Helper/Fixture/Data
		- Test/_support/Helper/Module