/* c for color */
$c_white: #fff;
$c_black: #000;

$c_dark-grey: #333;
$c_white_darker: #F2F2F2;
$c_box-grey: #f4f4f4;
$c_grey: #999999;
$c_greytext: #a8a8a8;
$c_light-grey: #cfefff;
$c_ajax-grey: #888888;
$c_attribute-grey: #ddd;
$c_container-grey: #B2B2B2;
$c_discussion-grey: #cccccc;
$c_macos-grey: #eee;
$c_form-grey: #666;
$c_form-grey-darker: #777;
$c_form-grey-light: #f2dede;
$c_style_grey: #f2f6f8;
$c_ddd-grey: #dddddd;
$c_matrix-grey: #363636;
$c_f9-grey: #f9f9f9;
$c_tab-menu-grey: #cfefff;
$c_table-grey: #747170;
$c_f0-grey: #f0f0f0;
$c-ffd-grey: #ffffdd;
$c-fcc-grey: #ffcccc;
$c-table-light: #CFEFFF;
$c_table-d37: #d3d7cf;
$c_e5-grey: #e5e5e5;
$c_aa-grey: #aaa;
$c_bb-grey: #bbb;

$c_red: #C11B17;
$c_bright-red: #cc0000;
$c_full-red: #ff0000;
$c_form-red: #b94a48;

$c_violet: #905;

$c_table-orange: #ce5c00;
$c_border-orange: #f57900;
$c_navbar-orange: #ff9900;
$c_full-orange: #ffa500;

$c_full-green: #008000;
$c_light-green: #690;

$c_blue: #0088cc;
$c_border-blue: #3465a4;
$c_table-dark-blue: #3465a4;
$c_full-blue: #0000ff;