@media print {
    .misp-element-wrapper.object .obj-type {
        color: white !important;
    }

    .misp-element-wrapper.object .obj-value {
        color: black !important;
    }

    .misp-element-wrapper.attribute .attr-value > span {
        max-width: unset !important;
        white-space: normal !important;
    }
    .misp-element-wrapper.object .obj-value > span {
        max-width: unset !important;
        white-space: normal !important;
    }
    span.misp-element-wrapper.attribute {
        max-width: unset !important;
        white-space: normal !important;
    }
}

span.misp-element-wrapper {
    margin: 3px 3px;
    border: 1px solid #ddd !important;
    border-radius: 3px;
    white-space: nowrap;
    display: inline-block;
    padding: 0;
}

.misp-element-wrapper, .misp-tag-wrapper, .misp-picture-wrapper {
    cursor: help;
}

.misp-element-wrapper.suggestion {
    cursor: pointer;
    user-select: none;
    border-color: #333 !important;
}

.misp-element-wrapper.suggestion input[type="checkbox"] {
    margin: 0 3px;
}

.misp-element-wrapper.attribute.suggestion.picked {
    box-shadow: #2f96b4 0px 0px 5px 0px;
}

.misp-element-wrapper.attribute.suggestion.picked .attr-type {
    background-color: #2f96b4 !important;
    color: white;
}

.misp-element-wrapper.invalid {
    cursor: not-allowed;
}

.misp-element-wrapper.invalid > span {
    margin: 0 3px;
}

.misp-element-wrapper.attribute .attr-type {
    background-color: #f5f5f5 !important;
    border-right: 1px solid #ddd !important;
    display: inline-block;
}

.misp-element-wrapper.attribute.suggestion .attr-type {
    color: white;
    background-color: #333 !important;
    border-right: 1px solid #333 !important;
}

.misp-element-wrapper.attribute .attr-type > span {
    margin: 2px 3px;
}

.misp-element-wrapper.attribute .attr-value {
    display: inline-table;
    margin: 0px 3px;
}

.misp-element-wrapper.attribute .attr-value > span {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: table-cell;
}

span.misp-element-wrapper.object {
    border: 1px solid #3465a4 !important;
}

.misp-element-wrapper.object .obj-type {
    display: inline-block;
    background-color: #3465a4 !important;
    color: #ffffff !important;
}

.misp-element-wrapper.object .obj-type .object-attribute-type {
    margin-left: 0;
    background-color: #f5f5f5;
    color: black;
    padding: 1px 3px;
    border-radius: 7px;
}

.misp-element-wrapper.object .obj-type > span {
    margin: 2px 3px;
}

.misp-element-wrapper.object .obj-value {
    display: inline-table;
    margin: 0px 3px;
}

.misp-element-wrapper.object .obj-value > span {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: table-cell;
}

.attributePicture > img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

#suggestion-container ul.nav-tabs {
    margin-bottom: 0;
}

#suggestion-container div.tab-content {
    height: calc(100vh - 120px - 38px) !important;
}

.markdownEditor-full-container:fullscreen #suggestion-container div.tab-content {
    height: calc(100vh - 50px - 38px) !important;
}

.CodeMirror-hint-active .blue {
    color: white !important;
}

.popover {
    z-index: 1060;
}