@media print {
    body {
        -webkit-print-color-adjust: exact !important;
    }
    body * {
        visibility: hidden;
    }
    #viewer, #viewer * {
        visibility: visible;
    }
    #viewer {
        position: absolute !important;
        left: 0;
        top: 0;
    }

    div.markdownEditor-full-container {
        position: unset !important;
    }
}

.markdownEditor-full-container {
    position: relative;
}

.markdownEditor-full-container:fullscreen {
    background-color: white;
}

.markdownEditor-full-container:fullscreen .raw-container, 
.markdownEditor-full-container:fullscreen .split-container, 
.markdownEditor-full-container:fullscreen #editor-container, 
.markdownEditor-full-container:fullscreen #viewer-container {
    max-height: calc(100vh - 50px) !important;
}

.markdownEditor-full-container:fullscreen #editor-container {
    border: 0;
}

.markdownEditor-full-container:fullscreen .btn-toolbar {
    margin-left: 15px;
}

.split-container {
    overflow: hidden;
    min-height: 500px;
}

.modal-body-xl .split-container {
    max-height: calc(70vh - 50px)
}

.split-container.split-actif > #editor-container, .split-container.split-actif > #viewer-container {
    max-height: calc(100vh - 120px)
}

#viewer-container {
    margin: 0 0;
    justify-content: center;
    padding: 7px 15px;
    overflow-y: auto;
    box-shadow: inset 0 2px 6px #eee;
}

#editor-container {
    border: 1px solid #ccc;
    width: 50%;
    min-width: 300px;
    position: relative;
    float: left;
}

.split-container:not(.split-actif) #editor-container {
    float: unset;
    width: unset;
}

#editor {
    min-height: 500px;
    width: 100%;
    border-radius: 0;
    resize: vertical;
}

#viewer {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#editor-container > div:not(.ui-resizable-handle) {
    width: 100%;
}

.split-container .ui-resizable-handle {
    box-shadow: 4px 0 6px #eee;
    width: 7px;
    position: absolute;
    right: -7px;
    z-index: 1;
    cursor: col-resize;
}

.ui-resizable-helper {
    border-right: 2px dotted #ccc;
    cursor: col-resize;
    z-index: 1060 !important;
}

#editor-subcontainer {
    display: flex;
    flex-direction: column;
}

#editor-subcontainer > div:not(#bottom-bar) {
    flex-grow: 1;
}

#bottom-bar {
    height: 1.5em;
}
#top-bar {
    height: 34px;
}
.editor-action-bar {
    display: flex;
    align-items: center;
    background-color: #3c3c3c;
    color: white;
    padding: 0 20px;
}
.editor-action-bar > span {
    margin-left: 15px;
}
#top-bar .icon {
    padding: 2px 2px;
    border-radius: 2px;
    vertical-align: middle;
    font-size: 16px;
    margin: 0px 5px
}
#top-bar .icon:hover {
    background-color: #f3f3f3;
    color: black;
}
.top-bar-separator {
    display: inline-block;
    margin: auto 8px;
    width: 1px;
    height: 15px;
    background-color: #d0d0d0;
}

#loadingBackdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#lastModifiedField {
    border-radius: 0;
}

.dropdown-menu li .icon {
    width: 20px;
    display: inline-block;
}

.cm-s-default {
    width: 100%;
    height: calc(100vh - 120px - 1.5em - 34px) !important;
}

.markdownEditor-full-container:fullscreen .cm-s-default {
    height: calc(100vh - 50px - 1.5em - 34px) !important;
}

.modal-body-xl .split-container .cm-s-default{
    max-height: calc(70vh - 55px) !important;
}

.modal-body-xl #viewer {
    max-height: calc(70vh - 75px)
}

.popover {
    max-width: 66%;
}

.cm-s-default .CodeMirror-gutter-wrapper {
    z-index: 1;
}
.cm-s-default .CodeMirror-gutters {
    z-index: 0;
}

.link-not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.dropdown-menu > li > a:hover .green,
.dropdown-menu > li > a:hover .red {
    color: white !important;
}
