/* Colors */
/* Sizes */
/* Effect and transition */
:root {
  --bs-blue: #375a7f;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #e74c3c;
  --bs-orange: #fd7e14;
  --bs-yellow: #f39c12;
  --bs-green: #00bc8c;
  --bs-teal: #20c997;
  --bs-cyan: #3498db;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #888;
  --bs-gray-dark: #303030;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #ebebeb;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #888;
  --bs-gray-700: #444;
  --bs-gray-800: #303030;
  --bs-gray-900: #222;
  --bs-primary: #375a7f;
  --bs-secondary: #444;
  --bs-success: #00bc8c;
  --bs-info: #3498db;
  --bs-warning: #f39c12;
  --bs-danger: #e74c3c;
  --bs-light: #adb5bd;
  --bs-dark: #303030;
  --bs-primary-rgb: 55, 90, 127;
  --bs-secondary-rgb: 68, 68, 68;
  --bs-success-rgb: 0, 188, 140;
  --bs-info-rgb: 52, 152, 219;
  --bs-warning-rgb: 243, 156, 18;
  --bs-danger-rgb: 231, 76, 60;
  --bs-light-rgb: 173, 181, 189;
  --bs-dark-rgb: 48, 48, 48;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg-rgb: 249, 250, 251;
  --bs-font-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.25;
  --bs-body-color: #fff;
  --bs-body-bg: #f9fafb;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #00bc8c;
  --bs-link-hover-color: #009670;
  --bs-code-color: #e83e8c;
  --bs-highlight-bg: #fdebd0;
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0, 0.71, 0.58, 1);
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}

.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: #444;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: middle;
  border-color: var(--bs-table-border-color);
}
.table > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}

.table-group-divider {
  border-top: 2px solid currentcolor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0rem 0rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table-primary {
  --bs-table-color: #fff;
  --bs-table-bg: #375a7f;
  --bs-table-border-color: #4b6b8c;
  --bs-table-striped-bg: #416285;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #4b6b8c;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #466689;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-secondary {
  --bs-table-color: #fff;
  --bs-table-bg: #444444;
  --bs-table-border-color: #575757;
  --bs-table-striped-bg: #4d4d4d;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #575757;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #525252;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-success {
  --bs-table-color: #fff;
  --bs-table-bg: #00bc8c;
  --bs-table-border-color: #1ac398;
  --bs-table-striped-bg: #0dbf92;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #1ac398;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #13c195;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-info {
  --bs-table-color: #fff;
  --bs-table-bg: #3498db;
  --bs-table-border-color: #48a2df;
  --bs-table-striped-bg: #3e9ddd;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #48a2df;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #43a0de;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-warning {
  --bs-table-color: #fff;
  --bs-table-bg: #f39c12;
  --bs-table-border-color: #f4a62a;
  --bs-table-striped-bg: #f4a11e;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #f4a62a;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #f4a324;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-danger {
  --bs-table-color: #fff;
  --bs-table-bg: #e74c3c;
  --bs-table-border-color: #e95e50;
  --bs-table-striped-bg: #e85546;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #e95e50;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #e9594b;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-light {
  --bs-table-color: #fff;
  --bs-table-bg: #adb5bd;
  --bs-table-border-color: #b5bcc4;
  --bs-table-striped-bg: #b1b9c0;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #b5bcc4;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #b3bbc2;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #303030;
  --bs-table-border-color: #454545;
  --bs-table-striped-bg: #3a3a3a;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #454545;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #404040;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.25;
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #375a7f;
  --bs-btn-border-color: #375a7f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2f4d6c;
  --bs-btn-hover-border-color: #2c4866;
  --bs-btn-focus-shadow-rgb: 85, 115, 146;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2c4866;
  --bs-btn-active-border-color: #29445f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #375a7f;
  --bs-btn-disabled-border-color: #375a7f;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #444;
  --bs-btn-border-color: #444;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3a3a3a;
  --bs-btn-hover-border-color: #363636;
  --bs-btn-focus-shadow-rgb: 96, 96, 96;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #363636;
  --bs-btn-active-border-color: #333333;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #444;
  --bs-btn-disabled-border-color: #444;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00bc8c;
  --bs-btn-border-color: #00bc8c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00a077;
  --bs-btn-hover-border-color: #009670;
  --bs-btn-focus-shadow-rgb: 38, 198, 157;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #009670;
  --bs-btn-active-border-color: #008d69;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00bc8c;
  --bs-btn-disabled-border-color: #00bc8c;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3498db;
  --bs-btn-border-color: #3498db;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2c81ba;
  --bs-btn-hover-border-color: #2a7aaf;
  --bs-btn-focus-shadow-rgb: 82, 167, 224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2a7aaf;
  --bs-btn-active-border-color: #2772a4;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3498db;
  --bs-btn-disabled-border-color: #3498db;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f39c12;
  --bs-btn-border-color: #f39c12;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cf850f;
  --bs-btn-hover-border-color: #c27d0e;
  --bs-btn-focus-shadow-rgb: 245, 171, 54;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c27d0e;
  --bs-btn-active-border-color: #b6750e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f39c12;
  --bs-btn-disabled-border-color: #f39c12;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e74c3c;
  --bs-btn-border-color: #e74c3c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c44133;
  --bs-btn-hover-border-color: #b93d30;
  --bs-btn-focus-shadow-rgb: 235, 103, 89;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b93d30;
  --bs-btn-active-border-color: #ad392d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e74c3c;
  --bs-btn-disabled-border-color: #e74c3c;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #adb5bd;
  --bs-btn-border-color: #adb5bd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #939aa1;
  --bs-btn-hover-border-color: #8a9197;
  --bs-btn-focus-shadow-rgb: 185, 192, 199;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8a9197;
  --bs-btn-active-border-color: #82888e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #adb5bd;
  --bs-btn-disabled-border-color: #adb5bd;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #303030;
  --bs-btn-border-color: #303030;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4f4f4f;
  --bs-btn-hover-border-color: #454545;
  --bs-btn-focus-shadow-rgb: 79, 79, 79;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #595959;
  --bs-btn-active-border-color: #454545;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #303030;
  --bs-btn-disabled-border-color: #303030;
}

.btn-outline-primary {
  --bs-btn-color: #375a7f;
  --bs-btn-border-color: #375a7f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #375a7f;
  --bs-btn-hover-border-color: #375a7f;
  --bs-btn-focus-shadow-rgb: 55, 90, 127;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #375a7f;
  --bs-btn-active-border-color: #375a7f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #375a7f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #375a7f;
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: #444;
  --bs-btn-border-color: #444;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #444;
  --bs-btn-hover-border-color: #444;
  --bs-btn-focus-shadow-rgb: 68, 68, 68;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #444;
  --bs-btn-active-border-color: #444;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #444;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #444;
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: #00bc8c;
  --bs-btn-border-color: #00bc8c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00bc8c;
  --bs-btn-hover-border-color: #00bc8c;
  --bs-btn-focus-shadow-rgb: 0, 188, 140;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00bc8c;
  --bs-btn-active-border-color: #00bc8c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #00bc8c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00bc8c;
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: #3498db;
  --bs-btn-border-color: #3498db;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3498db;
  --bs-btn-hover-border-color: #3498db;
  --bs-btn-focus-shadow-rgb: 52, 152, 219;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3498db;
  --bs-btn-active-border-color: #3498db;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #3498db;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3498db;
  --bs-gradient: none;
}

.btn-outline-warning {
  --bs-btn-color: #f39c12;
  --bs-btn-border-color: #f39c12;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f39c12;
  --bs-btn-hover-border-color: #f39c12;
  --bs-btn-focus-shadow-rgb: 243, 156, 18;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f39c12;
  --bs-btn-active-border-color: #f39c12;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f39c12;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f39c12;
  --bs-gradient: none;
}

.btn-outline-danger {
  --bs-btn-color: #e74c3c;
  --bs-btn-border-color: #e74c3c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e74c3c;
  --bs-btn-hover-border-color: #e74c3c;
  --bs-btn-focus-shadow-rgb: 231, 76, 60;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e74c3c;
  --bs-btn-active-border-color: #e74c3c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #e74c3c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e74c3c;
  --bs-gradient: none;
}

.btn-outline-light {
  --bs-btn-color: #adb5bd;
  --bs-btn-border-color: #adb5bd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #adb5bd;
  --bs-btn-hover-border-color: #adb5bd;
  --bs-btn-focus-shadow-rgb: 173, 181, 189;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #adb5bd;
  --bs-btn-active-border-color: #adb5bd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #adb5bd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #adb5bd;
  --bs-gradient: none;
}

.btn-outline-dark {
  --bs-btn-color: #303030;
  --bs-btn-border-color: #303030;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #303030;
  --bs-btn-hover-border-color: #303030;
  --bs-btn-focus-shadow-rgb: 48, 48, 48;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #303030;
  --bs-btn-active-border-color: #303030;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #303030;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #303030;
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #888;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 85, 115, 146;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.09375rem;
  --bs-btn-border-radius: 0.5rem;
}

.btn-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.765625rem;
  --bs-btn-border-radius: 0.25rem;
}

/* Callout */
.callout {
  border: 1px solid 1px solid none;
  border-radius: 0.25rem;
  background-color: #363636;
  box-shadow: none;
}

.callout-primary {
  border-left-color: #375a7f;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-secondary {
  border-left-color: #444;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-success {
  border-left-color: #00bc8c;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-info {
  border-left-color: #3498db;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-warning {
  border-left-color: #f39c12;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-danger {
  border-left-color: #e74c3c;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-light {
  border-left-color: #adb5bd;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-dark {
  border-left-color: #303030;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

/* Toasts */
.toast {
  min-width: 250px;
}

.toast-primary {
  color: #111b26;
  background-color: #c3ced9;
  border-color: #afbdcc;
}
.toast-primary strong {
  border-top-color: #9fb0c2;
}

.toast-secondary {
  color: #141414;
  background-color: #c7c7c7;
  border-color: #b4b4b4;
}
.toast-secondary strong {
  border-top-color: #a7a7a7;
}

.toast-success {
  color: #00382a;
  background-color: #b3ebdd;
  border-color: #99e4d1;
}
.toast-success strong {
  border-top-color: #85dfc8;
}

.toast-info {
  color: #102e42;
  background-color: #c2e0f4;
  border-color: #aed6f1;
}
.toast-info strong {
  border-top-color: #98cbed;
}

.toast-warning {
  color: #492f05;
  background-color: #fbe1b8;
  border-color: #fad7a0;
}
.toast-warning strong {
  border-top-color: #f9cd88;
}

.toast-danger {
  color: #451712;
  background-color: #f8c9c5;
  border-color: #f5b7b1;
}
.toast-danger strong {
  border-top-color: #f2a29a;
}

.toast-light {
  color: #343639;
  background-color: #e6e9eb;
  border-color: #dee1e5;
}
.toast-light strong {
  border-top-color: #d0d4da;
}

.toast-dark {
  color: #0e0e0e;
  background-color: #c1c1c1;
  border-color: #acacac;
}
.toast-dark strong {
  border-top-color: #9f9f9f;
}

/* Dropdown-item */
.dropdown-item.dropdown-item-primary {
  color: #fff;
  text-decoration: none;
  background-color: #375a7f;
}
.dropdown-item.dropdown-item-primary:hover {
  color: #fff;
  background-color: #2f4d6c;
}
.dropdown-item.dropdown-item-outline-primary:hover {
  color: #fff;
  background-color: #375a7f;
}
.dropdown-item.dropdown-item-secondary {
  color: #fff;
  text-decoration: none;
  background-color: #444;
}
.dropdown-item.dropdown-item-secondary:hover {
  color: #fff;
  background-color: #3a3a3a;
}
.dropdown-item.dropdown-item-outline-secondary:hover {
  color: #fff;
  background-color: #444;
}
.dropdown-item.dropdown-item-success {
  color: #fff;
  text-decoration: none;
  background-color: #00bc8c;
}
.dropdown-item.dropdown-item-success:hover {
  color: #fff;
  background-color: #00a077;
}
.dropdown-item.dropdown-item-outline-success:hover {
  color: #fff;
  background-color: #00bc8c;
}
.dropdown-item.dropdown-item-info {
  color: #fff;
  text-decoration: none;
  background-color: #3498db;
}
.dropdown-item.dropdown-item-info:hover {
  color: #fff;
  background-color: #2c81ba;
}
.dropdown-item.dropdown-item-outline-info:hover {
  color: #fff;
  background-color: #3498db;
}
.dropdown-item.dropdown-item-warning {
  color: #fff;
  text-decoration: none;
  background-color: #f39c12;
}
.dropdown-item.dropdown-item-warning:hover {
  color: #fff;
  background-color: #cf850f;
}
.dropdown-item.dropdown-item-outline-warning:hover {
  color: #fff;
  background-color: #f39c12;
}
.dropdown-item.dropdown-item-danger {
  color: #fff;
  text-decoration: none;
  background-color: #e74c3c;
}
.dropdown-item.dropdown-item-danger:hover {
  color: #fff;
  background-color: #c44133;
}
.dropdown-item.dropdown-item-outline-danger:hover {
  color: #fff;
  background-color: #e74c3c;
}
.dropdown-item.dropdown-item-light {
  color: #fff;
  text-decoration: none;
  background-color: #adb5bd;
}
.dropdown-item.dropdown-item-light:hover {
  color: #fff;
  background-color: #939aa1;
}
.dropdown-item.dropdown-item-outline-light:hover {
  color: #fff;
  background-color: #adb5bd;
}
.dropdown-item.dropdown-item-dark {
  color: #fff;
  text-decoration: none;
  background-color: #303030;
}
.dropdown-item.dropdown-item-dark:hover {
  color: #fff;
  background-color: #292929;
}
.dropdown-item.dropdown-item-outline-dark:hover {
  color: #fff;
  background-color: #303030;
}

.btn-outline-text {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fff;
  --bs-gradient: none;
}

/* Progress Timeline */
.progress-timeline {
  padding: 0.2em 0.2em 0.5em 0.2em;
}
.progress-timeline ul {
  position: relative;
  padding: 0;
}
.progress-timeline li {
  list-style-type: none;
  position: relative;
}
.progress-timeline li.progress-inactive {
  opacity: 0.5;
}
.progress-timeline .progress-line {
  height: 2px;
}
.progress-timeline .progress-line.progress-inactive {
  opacity: 0.5;
}

/* Forms severity */
.form-control.is-invalid.info {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%233498db' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%233498db' stroke='none'/%3e%3c/svg%3e");
}
.form-control.is-invalid.info:focus {
  border-color: #3498db;
  box-shadow: 0 0 0 0.25rem rgba(52, 152, 219, 0.25);
}
.form-control.is-invalid.warning {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23f39c12' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f39c12' stroke='none'/%3e%3c/svg%3e");
}
.form-control.is-invalid.warning:focus {
  border-color: #f39c12;
  box-shadow: 0 0 0 0.25rem rgba(243, 156, 18, 0.25);
}

.form-select.is-invalid:not([multiple]):not([size]).info,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.info {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%233498db'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%233498db' stroke='none'/%3e%3c/svg%3e");
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-select.is-invalid:not([multiple]):not([size]).info:focus,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.info:focus {
  box-shadow: 0 0 0 0.25rem rgba(52, 152, 219, 0.25);
}
.form-select.is-invalid:not([multiple]):not([size]).warning,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.warning {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23f39c12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f39c12' stroke='none'/%3e%3c/svg%3e");
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-select.is-invalid:not([multiple]):not([size]).warning:focus,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(243, 156, 18, 0.25);
}

.form-check-input.is-invalid.info {
  border-color: #3498db;
}
.form-check-input.is-invalid.info:checked {
  background-color: #3498db;
}
.form-check-input.is-invalid.info ~ .form-check-label {
  color: unset;
}
.form-check-input.is-invalid.info:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}
.form-check-input.is-invalid.warning {
  border-color: #f39c12;
}
.form-check-input.is-invalid.warning:checked {
  background-color: #f39c12;
}
.form-check-input.is-invalid.warning ~ .form-check-label {
  color: unset;
}
.form-check-input.is-invalid.warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.25);
}

/* Utilities */
.mw-75 {
  max-width: 75% !important;
}

.mw-66 {
  max-width: 66% !important;
}

.mw-50 {
  max-width: 50% !important;
}

.mw-33 {
  max-width: 33% !important;
}

.mw-25 {
  max-width: 25% !important;
}

.mh-75 {
  max-height: 75% !important;
}

.mh-66 {
  max-height: 66% !important;
}

.mh-50 {
  max-height: 50% !important;
}

.mh-33 {
  max-height: 33% !important;
}

.mh-25 {
  max-height: 25% !important;
}

.p-abs-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.p-abs-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.p-abs-center-both {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fs-7 {
  font-size: 0.875rem !important;
}

.fs-8 {
  font-size: 0.7rem !important;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.1rem;
  font-size: 0.7rem;
  border-radius: 0.15rem;
  line-height: 1.15;
}

.btn-check:focus + .btn.btn-xs, .btn.btn-xs:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.btn.btn-link.btn-link-hover-shadow:hover {
  box-shadow: 0 0.1rem 0.15rem #00000038;
}

.multi-metafields-container {
  position: relative;
}
@media (min-width: 576px) {
  .multi-metafields-container::before {
    content: none !important;
  }
}
.multi-metafields-container::before {
  border-style: solid;
  border-color: #444;
  border-width: 2px 0px 2px 2px;
  border-radius: 3px 0px 0px 3px;
  opacity: 0.5;
  position: absolute;
  content: " ";
  width: 0.5rem;
  height: calc(100% - 33px);
  transform: translate(0px, 18px);
}
.multi-metafields-container > .multi-metafield-container {
  position: relative;
}
.multi-metafields-container > .multi-metafield-container > .multi-metafield-input-container::before {
  content: " ";
}
@media (min-width: 576px) {
  .multi-metafields-container > .multi-metafield-container > .multi-metafield-input-container::before {
    background-color: #444;
    opacity: 0.5;
    position: absolute;
    width: 0.25rem;
    transform: translateX(calc(-0.75rem + 3px));
    height: calc(100% + 4px);
  }
}
@media (max-width: 575.98px) {
  .multi-metafields-container > .multi-metafield-container:not(:first-child) label.form-label {
    display: none;
  }
}
.multi-metafields-container > .multi-metafield-container:first-child > .multi-metafield-input-container::before {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.multi-metafields-container > .multi-metafield-container:last-child > .multi-metafield-input-container::before {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%;
}

:root {
  --application-color: #2fa1db;
}

/* Body */
body {
  background-color: #f9fafb;
}

.panel {
  background-color: #363636;
  border: 1px solid #454545;
  box-shadow: none;
}

.loading-overlay {
  background-color: #222;
  opacity: 0.65;
}

/* Top navbar */
.top-navbar {
  background-color: #375a7f;
}

.center-navbar nav.header-breadcrumb {
  color: #fff;
}

header.top-navbar .header-menu > a:hover,
header.top-navbar .header-breadcrumb .header-breadcrumb-item > a:hover {
  color: #d6d6d6 !important;
}

.top-navbar .center-navbar nav.header-breadcrumb li.header-breadcrumb-item a {
  color: #fff;
}

.top-navbar .right-navbar .header-menu a.nav-link {
  color: #fff;
}

.top-navbar .left-navbar .navbar-brand img {
  filter: invert(1);
}

.top-navbar .left-navbar .navbar-brand:hover img {
  filter: invert(1) drop-shadow(0px 0px 3px #fff);
}

.top-navbar .composed-app-icon-container > .app-icon {
  background-color: #fff;
}

.breadcrumb-link-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #adb5bd;
}

/* Sidebar */
.sidebar {
  transition: width 0.08s linear;
  box-shadow: none;
  background-color: #444;
}

/* Scroolbar */
.sidebar-scroll {
  overflow-x: hidden;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 3px;
  background: #ffffff00;
}

.sidebar-scroll::-webkit-scrollbar * {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(149, 150, 151, 0.6);
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(125, 125, 126, 0.6);
}

.sidebar ~ main.content:after {
  background: #000;
}

.sidebar .sidebar-wrapper {
  border-right: 1px solid none;
}

.sidebar .sidebar-wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar ul.sidebar-elements li > a.sidebar-link {
  color: #fff;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.active {
  color: #fff;
  background-color: #595f64;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child {
  color: #fff;
  background-color: #595f64;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child::after {
  background-color: var(--application-color);
}

.sidebar ul.sidebar-elements li > a.sidebar-link:hover {
  color: #60676c;
  background-color: #ebebeb;
}

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child {
  color: unset;
}

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child:hover,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child:hover {
  color: #60676c;
  background-color: #ebebeb;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.active:hover {
  color: #008462;
  background-color: #dee2e6;
}

ul.sidebar-elements li > a.sidebar-link.active::after {
  background-color: var(--application-color);
}

.lock-sidebar > a.btn {
  background-color: unset;
}

.sidebar ul.sidebar-elements li ul.sub-menu {
  background-color: #acafb2;
  box-shadow: inset #11111a1a 0px 0px 0px 1px;
}

.sidebar ul.sidebar-elements li ul.sub-menu li > a.sidebar-link {
  color: #3e4346;
}

/* Action bar */
.action-bar {
  box-shadow: 0 0.15rem 0.3rem #00000032;
  background-color: #363636;
}
