/* Callout */
.callout {
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  background-color: #363636;
  box-shadow: none;
}

.callout-primary {
  border-left-color: #6f42c1;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-secondary {
  border-left-color: #ea39b8;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-success {
  border-left-color: #3cf281;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-info {
  border-left-color: #1ba2f6;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-warning {
  border-left-color: #ffc107;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-danger {
  border-left-color: #e44c55;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-light {
  border-left-color: #44d9e8;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-dark {
  border-left-color: #170229;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

/* Toasts */
.toast {
  min-width: 250px;
}

.toast-primary {
  color: #21143a;
  background-color: #d4c6ec;
  border-color: #c5b3e6;
}
.toast-primary strong {
  border-top-color: #b6a0e0;
}

.toast-secondary {
  color: #461137;
  background-color: #f9c4ea;
  border-color: #f7b0e3;
}
.toast-secondary strong {
  border-top-color: #f599db;
}

.toast-success {
  color: #124927;
  background-color: #c5fbd9;
  border-color: #b1facd;
}
.toast-success strong {
  border-top-color: #99f8be;
}

.toast-info {
  color: #08314a;
  background-color: #bbe3fc;
  border-color: #a4dafb;
}
.toast-info strong {
  border-top-color: #8cd0fa;
}

.toast-warning {
  color: #4d3a02;
  background-color: #ffecb5;
  border-color: #ffe69c;
}
.toast-warning strong {
  border-top-color: #ffe083;
}

.toast-danger {
  color: #44171a;
  background-color: #f7c9cc;
  border-color: #f4b7bb;
}
.toast-danger strong {
  border-top-color: #f1a1a6;
}

.toast-light {
  color: #144146;
  background-color: #c7f4f8;
  border-color: #b4f0f6;
}
.toast-light strong {
  border-top-color: #9debf3;
}

.toast-dark {
  color: #07010c;
  background-color: #b9b3bf;
  border-color: #a29aa9;
}
.toast-dark strong {
  border-top-color: #958c9d;
}

/* Dropdown-item */
.dropdown-item.dropdown-item-primary {
  color: #fff;
  text-decoration: none;
  background-color: #6f42c1;
}
.dropdown-item.dropdown-item-primary:hover {
  color: #fff;
  background-color: #5e38a4;
}
.dropdown-item.dropdown-item-outline-primary:hover {
  color: #fff;
  background-color: #6f42c1;
}
.dropdown-item.dropdown-item-secondary {
  color: #fff;
  text-decoration: none;
  background-color: #ea39b8;
}
.dropdown-item.dropdown-item-secondary:hover {
  color: #fff;
  background-color: #c7309c;
}
.dropdown-item.dropdown-item-outline-secondary:hover {
  color: #fff;
  background-color: #ea39b8;
}
.dropdown-item.dropdown-item-success {
  color: #fff;
  text-decoration: none;
  background-color: #3cf281;
}
.dropdown-item.dropdown-item-success:hover {
  color: #fff;
  background-color: #33ce6e;
}
.dropdown-item.dropdown-item-outline-success:hover {
  color: #fff;
  background-color: #3cf281;
}
.dropdown-item.dropdown-item-info {
  color: #fff;
  text-decoration: none;
  background-color: #1ba2f6;
}
.dropdown-item.dropdown-item-info:hover {
  color: #fff;
  background-color: #178ad1;
}
.dropdown-item.dropdown-item-outline-info:hover {
  color: #fff;
  background-color: #1ba2f6;
}
.dropdown-item.dropdown-item-warning {
  color: #fff;
  text-decoration: none;
  background-color: #ffc107;
}
.dropdown-item.dropdown-item-warning:hover {
  color: #fff;
  background-color: #d9a406;
}
.dropdown-item.dropdown-item-outline-warning:hover {
  color: #fff;
  background-color: #ffc107;
}
.dropdown-item.dropdown-item-danger {
  color: #fff;
  text-decoration: none;
  background-color: #e44c55;
}
.dropdown-item.dropdown-item-danger:hover {
  color: #fff;
  background-color: #c24148;
}
.dropdown-item.dropdown-item-outline-danger:hover {
  color: #fff;
  background-color: #e44c55;
}
.dropdown-item.dropdown-item-light {
  color: #fff;
  text-decoration: none;
  background-color: #44d9e8;
}
.dropdown-item.dropdown-item-light:hover {
  color: #fff;
  background-color: #3ab8c5;
}
.dropdown-item.dropdown-item-outline-light:hover {
  color: #fff;
  background-color: #44d9e8;
}
.dropdown-item.dropdown-item-dark {
  color: #fff;
  text-decoration: none;
  background-color: #170229;
}
.dropdown-item.dropdown-item-dark:hover {
  color: #fff;
  background-color: #140223;
}
.dropdown-item.dropdown-item-outline-dark:hover {
  color: #fff;
  background-color: #170229;
}

.btn-outline-text {
  color: #32fbe2;
  border-color: #32fbe2;
}
.btn-outline-text:hover {
  color: #fff;
  background-color: #32fbe2;
  border-color: #32fbe2;
}
.btn-check:focus + .btn-outline-text, .btn-outline-text:focus {
  box-shadow: 0 0 0 0.25rem rgba(50, 251, 226, 0.5);
}
.btn-check:checked + .btn-outline-text, .btn-check:active + .btn-outline-text, .btn-outline-text:active, .btn-outline-text.active, .btn-outline-text.dropdown-toggle.show {
  color: #fff;
  background-color: #32fbe2;
  border-color: #32fbe2;
}
.btn-check:checked + .btn-outline-text:focus, .btn-check:active + .btn-outline-text:focus, .btn-outline-text:active:focus, .btn-outline-text.active:focus, .btn-outline-text.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(50, 251, 226, 0.5);
}
.btn-outline-text:disabled, .btn-outline-text.disabled {
  color: #32fbe2;
  background-color: transparent;
}

/* Progress Timeline */
.progress-timeline {
  padding: 0.2em 0.2em 0.5em 0.2em;
}
.progress-timeline ul {
  position: relative;
  padding: 0;
}
.progress-timeline li {
  list-style-type: none;
  position: relative;
}
.progress-timeline li.progress-inactive {
  opacity: 0.5;
}
.progress-timeline .progress-line {
  height: 2px;
}
.progress-timeline .progress-line.progress-inactive {
  opacity: 0.5;
}

/* Forms severity */
.form-control.is-invalid.info {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%231ba2f6' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%231ba2f6' stroke='none'/%3e%3c/svg%3e");
}
.form-control.is-invalid.info:focus {
  border-color: #1ba2f6;
  box-shadow: 0 0 0 0.25rem rgba(27, 162, 246, 0.25);
}
.form-control.is-invalid.warning {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23ffc107' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffc107' stroke='none'/%3e%3c/svg%3e");
}
.form-control.is-invalid.warning:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

.form-select.is-invalid:not([multiple]):not([size]).info,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.info {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%231ba2f6'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%231ba2f6' stroke='none'/%3e%3c/svg%3e");
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-select.is-invalid:not([multiple]):not([size]).info:focus,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.info:focus {
  box-shadow: 0 0 0 0.25rem rgba(27, 162, 246, 0.25);
}
.form-select.is-invalid:not([multiple]):not([size]).warning,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.warning {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ffc107'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffc107' stroke='none'/%3e%3c/svg%3e");
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-select.is-invalid:not([multiple]):not([size]).warning:focus,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

.form-check-input.is-invalid.info {
  border-color: #1ba2f6;
}
.form-check-input.is-invalid.info:checked {
  background-color: #1ba2f6;
}
.form-check-input.is-invalid.info ~ .form-check-label {
  color: unset;
}
.form-check-input.is-invalid.info:focus {
  box-shadow: 0 0 0 0.2rem rgba(27, 162, 246, 0.25);
}
.form-check-input.is-invalid.warning {
  border-color: #ffc107;
}
.form-check-input.is-invalid.warning:checked {
  background-color: #ffc107;
}
.form-check-input.is-invalid.warning ~ .form-check-label {
  color: unset;
}
.form-check-input.is-invalid.warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

/* Utilities */
.mw-75 {
  max-width: 75% !important;
}

.mw-66 {
  max-width: 66% !important;
}

.mw-50 {
  max-width: 50% !important;
}

.mw-33 {
  max-width: 33% !important;
}

.mw-25 {
  max-width: 25% !important;
}

.mh-75 {
  max-height: 75% !important;
}

.mh-66 {
  max-height: 66% !important;
}

.mh-50 {
  max-height: 50% !important;
}

.mh-33 {
  max-height: 33% !important;
}

.mh-25 {
  max-height: 25% !important;
}

.p-abs-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.p-abs-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.p-abs-center-both {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fs-7 {
  font-size: 0.875rem !important;
}

.fs-8 {
  font-size: 0.7rem !important;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.1rem;
  font-size: 0.7rem;
  border-radius: 0.15rem;
  line-height: 1.15;
}

.btn-check:focus + .btn.btn-xs, .btn.btn-xs:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.multi-metafields-container {
  position: relative;
}
@media (min-width: 576px) {
  .multi-metafields-container::before {
    content: none !important;
  }
}
.multi-metafields-container::before {
  border-style: solid;
  border-color: #ea39b8;
  border-width: 2px 0px 2px 2px;
  border-radius: 3px 0px 0px 3px;
  opacity: 0.5;
  position: absolute;
  content: " ";
  width: 0.5rem;
  height: calc(100% - 33px);
  transform: translate(0px, 18px);
}
.multi-metafields-container > .multi-metafield-container {
  position: relative;
}
.multi-metafields-container > .multi-metafield-container > .multi-metafield-input-container::before {
  content: " ";
}
@media (min-width: 576px) {
  .multi-metafields-container > .multi-metafield-container > .multi-metafield-input-container::before {
    background-color: #ea39b8;
    opacity: 0.5;
    position: absolute;
    width: 0.25rem;
    transform: translateX(calc(-0.75rem + 3px));
    height: calc(100% + 4px);
  }
}
@media (max-width: 575.98px) {
  .multi-metafields-container > .multi-metafield-container:not(:first-child) label.form-label {
    display: none;
  }
}
.multi-metafields-container > .multi-metafield-container:first-child > .multi-metafield-input-container::before {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.multi-metafields-container > .multi-metafield-container:last-child > .multi-metafield-input-container::before {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%;
}

/* Body */
.panel {
  background-color: #363636;
  border: 1px solid #454545;
  box-shadow: none;
}

.loading-overlay {
  background-color: #170229;
  opacity: 0.65;
}

/* Top navbar */
.top-navbar {
  background-color: #6f42c1;
}

.center-navbar nav.header-breadcrumb {
  color: #fff;
}

header.top-navbar .header-menu > a:hover,
header.top-navbar .header-breadcrumb .header-breadcrumb-item > a:hover {
  color: #d6d6d6 !important;
}

.top-navbar .center-navbar nav.header-breadcrumb li.header-breadcrumb-item a {
  color: #fff;
}

.top-navbar .right-navbar .header-menu a.nav-link {
  color: #fff;
}

.top-navbar .left-navbar .navbar-brand img {
  filter: invert(1);
}

.top-navbar .left-navbar .navbar-brand:hover img {
  filter: invert(1) drop-shadow(0px 0px 3px #fff);
}

.top-navbar .composed-app-icon-container > .app-icon {
  background-color: #fff;
}

.breadcrumb-link-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #44d9e8;
}

/* Sidebar */
.sidebar {
  transition: width 0.08s linear;
  box-shadow: none;
  background-color: #170229;
}

.sidebar ~ main.content:after {
  background: #000;
}

.sidebar .sidebar-wrapper {
  border-right: 1px solid none;
}

.sidebar .sidebar-wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar ul.sidebar-elements li > a.sidebar-link {
  color: #fff;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.active {
  background-color: #343a40;
  color: #3cf281;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child {
  background-color: #343a40;
  color: #3cf281;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child::after {
  background-color: #6f42c1;
}

.sidebar ul.sidebar-elements li > a.sidebar-link:hover {
  background-color: #495057;
  color: #3cf281;
}

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child {
  background-color: unset;
}

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child:hover,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child:hover {
  background-color: #495057;
}

ul.sidebar-elements li > a.sidebar-link.active::after {
  background-color: #6f42c1;
}

.lock-sidebar > a.btn {
  background-color: unset;
}
