/* Colors */
/* Sizes */
/* Effect and transition */
:root {
  --bs-blue: #1ba2f6;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #ea39b8;
  --bs-red: #e44c55;
  --bs-orange: #f1b633;
  --bs-yellow: #ffc107;
  --bs-green: #3cf281;
  --bs-teal: #3f81a2;
  --bs-cyan: #32fbe2;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #170229;
  --bs-primary: #6f42c1;
  --bs-secondary: #ea39b8;
  --bs-success: #3cf281;
  --bs-info: #1ba2f6;
  --bs-warning: #ffc107;
  --bs-danger: #e44c55;
  --bs-light: #44d9e8;
  --bs-dark: #170229;
  --bs-primary-rgb: 111, 66, 193;
  --bs-secondary-rgb: 234, 57, 184;
  --bs-success-rgb: 60, 242, 129;
  --bs-info-rgb: 27, 162, 246;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 228, 76, 85;
  --bs-light-rgb: 68, 217, 232;
  --bs-dark-rgb: 23, 2, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 50, 251, 226;
  --bs-body-bg-rgb: 249, 250, 251;
  --bs-font-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.25;
  --bs-body-color: #32fbe2;
  --bs-body-bg: #f9fafb;
  --bs-border-width: 0;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.15rem;
  --bs-border-radius-sm: 0.05rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #32fbe2;
  --bs-link-hover-color: #28c9b5;
  --bs-code-color: #ea39b8;
  --bs-highlight-bg: #fff3cd;
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0, 0.71, 0.58, 1);
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}

.table {
  --bs-table-color: #fff;
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #fff;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #fff;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #fff;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: middle;
  border-color: var(--bs-table-border-color);
}
.table > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}

.table-group-divider {
  border-top: 0 solid currentcolor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0rem 0rem;
}

.table-bordered > :not(caption) > * {
  border-width: 0 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 0;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table-primary {
  --bs-table-color: #fff;
  --bs-table-bg: #6f42c1;
  --bs-table-border-color: #7d55c7;
  --bs-table-striped-bg: #764bc4;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #7d55c7;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #7a50c6;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-secondary {
  --bs-table-color: #fff;
  --bs-table-bg: #ea39b8;
  --bs-table-border-color: #ec4dbf;
  --bs-table-striped-bg: #eb43bc;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #ec4dbf;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #ec48bd;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-success {
  --bs-table-color: #fff;
  --bs-table-bg: #3cf281;
  --bs-table-border-color: #50f38e;
  --bs-table-striped-bg: #46f387;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #50f38e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #4bf38a;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-info {
  --bs-table-color: #fff;
  --bs-table-bg: #1ba2f6;
  --bs-table-border-color: #32abf7;
  --bs-table-striped-bg: #26a7f6;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #32abf7;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #2ca9f7;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-warning {
  --bs-table-color: #fff;
  --bs-table-bg: #ffc107;
  --bs-table-border-color: #ffc720;
  --bs-table-striped-bg: #ffc413;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #ffc720;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #ffc61a;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-danger {
  --bs-table-color: #fff;
  --bs-table-bg: #e44c55;
  --bs-table-border-color: #e75e66;
  --bs-table-striped-bg: #e5555e;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #e75e66;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #e65962;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-light {
  --bs-table-color: #fff;
  --bs-table-bg: #44d9e8;
  --bs-table-border-color: #57ddea;
  --bs-table-striped-bg: #4ddbe9;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #57ddea;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #52dcea;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #170229;
  --bs-table-border-color: #2e1b3e;
  --bs-table-striped-bg: #230f34;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #2e1b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #281539;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.25;
  --bs-btn-color: #32fbe2;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 0;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.15rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6f42c1;
  --bs-btn-border-color: #6f42c1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5e38a4;
  --bs-btn-hover-border-color: #59359a;
  --bs-btn-focus-shadow-rgb: 133, 94, 202;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #59359a;
  --bs-btn-active-border-color: #533291;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6f42c1;
  --bs-btn-disabled-border-color: #6f42c1;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ea39b8;
  --bs-btn-border-color: #ea39b8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c7309c;
  --bs-btn-hover-border-color: #bb2e93;
  --bs-btn-focus-shadow-rgb: 237, 87, 195;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #bb2e93;
  --bs-btn-active-border-color: #b02b8a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ea39b8;
  --bs-btn-disabled-border-color: #ea39b8;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3cf281;
  --bs-btn-border-color: #3cf281;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #33ce6e;
  --bs-btn-hover-border-color: #30c267;
  --bs-btn-focus-shadow-rgb: 89, 244, 148;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #30c267;
  --bs-btn-active-border-color: #2db661;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3cf281;
  --bs-btn-disabled-border-color: #3cf281;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1ba2f6;
  --bs-btn-border-color: #1ba2f6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #178ad1;
  --bs-btn-hover-border-color: #1682c5;
  --bs-btn-focus-shadow-rgb: 61, 176, 247;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1682c5;
  --bs-btn-active-border-color: #147ab9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1ba2f6;
  --bs-btn-disabled-border-color: #1ba2f6;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9a406;
  --bs-btn-hover-border-color: #cc9a06;
  --bs-btn-focus-shadow-rgb: 255, 202, 44;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cc9a06;
  --bs-btn-active-border-color: #bf9105;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e44c55;
  --bs-btn-border-color: #e44c55;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c24148;
  --bs-btn-hover-border-color: #b63d44;
  --bs-btn-focus-shadow-rgb: 232, 103, 111;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b63d44;
  --bs-btn-active-border-color: #ab3940;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e44c55;
  --bs-btn-disabled-border-color: #e44c55;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #44d9e8;
  --bs-btn-border-color: #44d9e8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3ab8c5;
  --bs-btn-hover-border-color: #36aeba;
  --bs-btn-focus-shadow-rgb: 96, 223, 235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #36aeba;
  --bs-btn-active-border-color: #33a3ae;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #44d9e8;
  --bs-btn-disabled-border-color: #44d9e8;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #170229;
  --bs-btn-border-color: #170229;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3a2849;
  --bs-btn-hover-border-color: #2e1b3e;
  --bs-btn-focus-shadow-rgb: 58, 40, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #453554;
  --bs-btn-active-border-color: #2e1b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #170229;
  --bs-btn-disabled-border-color: #170229;
}

.btn-outline-primary {
  --bs-btn-color: #6f42c1;
  --bs-btn-border-color: #6f42c1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6f42c1;
  --bs-btn-hover-border-color: #6f42c1;
  --bs-btn-focus-shadow-rgb: 111, 66, 193;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6f42c1;
  --bs-btn-active-border-color: #6f42c1;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6f42c1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6f42c1;
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: #ea39b8;
  --bs-btn-border-color: #ea39b8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ea39b8;
  --bs-btn-hover-border-color: #ea39b8;
  --bs-btn-focus-shadow-rgb: 234, 57, 184;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ea39b8;
  --bs-btn-active-border-color: #ea39b8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ea39b8;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ea39b8;
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: #3cf281;
  --bs-btn-border-color: #3cf281;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3cf281;
  --bs-btn-hover-border-color: #3cf281;
  --bs-btn-focus-shadow-rgb: 60, 242, 129;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3cf281;
  --bs-btn-active-border-color: #3cf281;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #3cf281;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3cf281;
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: #1ba2f6;
  --bs-btn-border-color: #1ba2f6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1ba2f6;
  --bs-btn-hover-border-color: #1ba2f6;
  --bs-btn-focus-shadow-rgb: 27, 162, 246;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1ba2f6;
  --bs-btn-active-border-color: #1ba2f6;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1ba2f6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1ba2f6;
  --bs-gradient: none;
}

.btn-outline-warning {
  --bs-btn-color: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffc107;
  --bs-btn-active-border-color: #ffc107;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffc107;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc107;
  --bs-gradient: none;
}

.btn-outline-danger {
  --bs-btn-color: #e44c55;
  --bs-btn-border-color: #e44c55;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e44c55;
  --bs-btn-hover-border-color: #e44c55;
  --bs-btn-focus-shadow-rgb: 228, 76, 85;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e44c55;
  --bs-btn-active-border-color: #e44c55;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #e44c55;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e44c55;
  --bs-gradient: none;
}

.btn-outline-light {
  --bs-btn-color: #44d9e8;
  --bs-btn-border-color: #44d9e8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #44d9e8;
  --bs-btn-hover-border-color: #44d9e8;
  --bs-btn-focus-shadow-rgb: 68, 217, 232;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #44d9e8;
  --bs-btn-active-border-color: #44d9e8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #44d9e8;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #44d9e8;
  --bs-gradient: none;
}

.btn-outline-dark {
  --bs-btn-color: #170229;
  --bs-btn-border-color: #170229;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #170229;
  --bs-btn-hover-border-color: #170229;
  --bs-btn-focus-shadow-rgb: 23, 2, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #170229;
  --bs-btn-active-border-color: #170229;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #170229;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #170229;
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 133, 94, 202;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.09375rem;
  --bs-btn-border-radius: 0.5rem;
}

.btn-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.765625rem;
  --bs-btn-border-radius: 0.05rem;
}

/* Callout */
.callout {
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  background-color: #363636;
  box-shadow: none;
}

.callout-primary {
  border-left-color: #6f42c1;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-secondary {
  border-left-color: #ea39b8;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-success {
  border-left-color: #3cf281;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-info {
  border-left-color: #1ba2f6;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-warning {
  border-left-color: #ffc107;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-danger {
  border-left-color: #e44c55;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-light {
  border-left-color: #44d9e8;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.callout-dark {
  border-left-color: #170229;
  border-left-width: 0.25rem;
  border-left-style: solid;
}

/* Toasts */
.toast {
  min-width: 250px;
}

.toast-primary {
  color: #21143a;
  background-color: #d4c6ec;
  border-color: #c5b3e6;
}
.toast-primary strong {
  border-top-color: #b6a0e0;
}

.toast-secondary {
  color: #461137;
  background-color: #f9c4ea;
  border-color: #f7b0e3;
}
.toast-secondary strong {
  border-top-color: #f599db;
}

.toast-success {
  color: #124927;
  background-color: #c5fbd9;
  border-color: #b1facd;
}
.toast-success strong {
  border-top-color: #99f8be;
}

.toast-info {
  color: #08314a;
  background-color: #bbe3fc;
  border-color: #a4dafb;
}
.toast-info strong {
  border-top-color: #8cd0fa;
}

.toast-warning {
  color: #4d3a02;
  background-color: #ffecb5;
  border-color: #ffe69c;
}
.toast-warning strong {
  border-top-color: #ffe083;
}

.toast-danger {
  color: #44171a;
  background-color: #f7c9cc;
  border-color: #f4b7bb;
}
.toast-danger strong {
  border-top-color: #f1a1a6;
}

.toast-light {
  color: #144146;
  background-color: #c7f4f8;
  border-color: #b4f0f6;
}
.toast-light strong {
  border-top-color: #9debf3;
}

.toast-dark {
  color: #07010c;
  background-color: #b9b3bf;
  border-color: #a29aa9;
}
.toast-dark strong {
  border-top-color: #958c9d;
}

/* Dropdown-item */
.dropdown-item.dropdown-item-primary {
  color: #fff;
  text-decoration: none;
  background-color: #6f42c1;
}
.dropdown-item.dropdown-item-primary:hover {
  color: #fff;
  background-color: #5e38a4;
}
.dropdown-item.dropdown-item-outline-primary:hover {
  color: #fff;
  background-color: #6f42c1;
}
.dropdown-item.dropdown-item-secondary {
  color: #fff;
  text-decoration: none;
  background-color: #ea39b8;
}
.dropdown-item.dropdown-item-secondary:hover {
  color: #fff;
  background-color: #c7309c;
}
.dropdown-item.dropdown-item-outline-secondary:hover {
  color: #fff;
  background-color: #ea39b8;
}
.dropdown-item.dropdown-item-success {
  color: #fff;
  text-decoration: none;
  background-color: #3cf281;
}
.dropdown-item.dropdown-item-success:hover {
  color: #fff;
  background-color: #33ce6e;
}
.dropdown-item.dropdown-item-outline-success:hover {
  color: #fff;
  background-color: #3cf281;
}
.dropdown-item.dropdown-item-info {
  color: #fff;
  text-decoration: none;
  background-color: #1ba2f6;
}
.dropdown-item.dropdown-item-info:hover {
  color: #fff;
  background-color: #178ad1;
}
.dropdown-item.dropdown-item-outline-info:hover {
  color: #fff;
  background-color: #1ba2f6;
}
.dropdown-item.dropdown-item-warning {
  color: #fff;
  text-decoration: none;
  background-color: #ffc107;
}
.dropdown-item.dropdown-item-warning:hover {
  color: #fff;
  background-color: #d9a406;
}
.dropdown-item.dropdown-item-outline-warning:hover {
  color: #fff;
  background-color: #ffc107;
}
.dropdown-item.dropdown-item-danger {
  color: #fff;
  text-decoration: none;
  background-color: #e44c55;
}
.dropdown-item.dropdown-item-danger:hover {
  color: #fff;
  background-color: #c24148;
}
.dropdown-item.dropdown-item-outline-danger:hover {
  color: #fff;
  background-color: #e44c55;
}
.dropdown-item.dropdown-item-light {
  color: #fff;
  text-decoration: none;
  background-color: #44d9e8;
}
.dropdown-item.dropdown-item-light:hover {
  color: #fff;
  background-color: #3ab8c5;
}
.dropdown-item.dropdown-item-outline-light:hover {
  color: #fff;
  background-color: #44d9e8;
}
.dropdown-item.dropdown-item-dark {
  color: #fff;
  text-decoration: none;
  background-color: #170229;
}
.dropdown-item.dropdown-item-dark:hover {
  color: #fff;
  background-color: #140223;
}
.dropdown-item.dropdown-item-outline-dark:hover {
  color: #fff;
  background-color: #170229;
}

.btn-outline-text {
  --bs-btn-color: #32fbe2;
  --bs-btn-border-color: #32fbe2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #32fbe2;
  --bs-btn-hover-border-color: #32fbe2;
  --bs-btn-focus-shadow-rgb: 50, 251, 226;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #32fbe2;
  --bs-btn-active-border-color: #32fbe2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #32fbe2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #32fbe2;
  --bs-gradient: none;
}

/* Progress Timeline */
.progress-timeline {
  padding: 0.2em 0.2em 0.5em 0.2em;
}
.progress-timeline ul {
  position: relative;
  padding: 0;
}
.progress-timeline li {
  list-style-type: none;
  position: relative;
}
.progress-timeline li.progress-inactive {
  opacity: 0.5;
}
.progress-timeline .progress-line {
  height: 2px;
}
.progress-timeline .progress-line.progress-inactive {
  opacity: 0.5;
}

/* Forms severity */
.form-control.is-invalid.info {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%231ba2f6' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%231ba2f6' stroke='none'/%3e%3c/svg%3e");
}
.form-control.is-invalid.info:focus {
  border-color: #1ba2f6;
  box-shadow: 0 0 0 0.25rem rgba(27, 162, 246, 0.25);
}
.form-control.is-invalid.warning {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23ffc107' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffc107' stroke='none'/%3e%3c/svg%3e");
}
.form-control.is-invalid.warning:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

.form-select.is-invalid:not([multiple]):not([size]).info,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.info {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%231ba2f6'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%231ba2f6' stroke='none'/%3e%3c/svg%3e");
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-select.is-invalid:not([multiple]):not([size]).info:focus,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.info:focus {
  box-shadow: 0 0 0 0.25rem rgba(27, 162, 246, 0.25);
}
.form-select.is-invalid:not([multiple]):not([size]).warning,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.warning {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ffc107'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffc107' stroke='none'/%3e%3c/svg%3e");
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-select.is-invalid:not([multiple]):not([size]).warning:focus,
.form-select.is-invalid:not([multiple])[size="1"] .form-select.is-invalid.warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

.form-check-input.is-invalid.info {
  border-color: #1ba2f6;
}
.form-check-input.is-invalid.info:checked {
  background-color: #1ba2f6;
}
.form-check-input.is-invalid.info ~ .form-check-label {
  color: unset;
}
.form-check-input.is-invalid.info:focus {
  box-shadow: 0 0 0 0.2rem rgba(27, 162, 246, 0.25);
}
.form-check-input.is-invalid.warning {
  border-color: #ffc107;
}
.form-check-input.is-invalid.warning:checked {
  background-color: #ffc107;
}
.form-check-input.is-invalid.warning ~ .form-check-label {
  color: unset;
}
.form-check-input.is-invalid.warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

/* Utilities */
.mw-75 {
  max-width: 75% !important;
}

.mw-66 {
  max-width: 66% !important;
}

.mw-50 {
  max-width: 50% !important;
}

.mw-33 {
  max-width: 33% !important;
}

.mw-25 {
  max-width: 25% !important;
}

.mh-75 {
  max-height: 75% !important;
}

.mh-66 {
  max-height: 66% !important;
}

.mh-50 {
  max-height: 50% !important;
}

.mh-33 {
  max-height: 33% !important;
}

.mh-25 {
  max-height: 25% !important;
}

.p-abs-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.p-abs-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.p-abs-center-both {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fs-7 {
  font-size: 0.875rem !important;
}

.fs-8 {
  font-size: 0.7rem !important;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.1rem;
  font-size: 0.7rem;
  border-radius: 0.15rem;
  line-height: 1.15;
}

.btn-check:focus + .btn.btn-xs, .btn.btn-xs:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.multi-metafields-container {
  position: relative;
}
@media (min-width: 576px) {
  .multi-metafields-container::before {
    content: none !important;
  }
}
.multi-metafields-container::before {
  border-style: solid;
  border-color: #ea39b8;
  border-width: 2px 0px 2px 2px;
  border-radius: 3px 0px 0px 3px;
  opacity: 0.5;
  position: absolute;
  content: " ";
  width: 0.5rem;
  height: calc(100% - 33px);
  transform: translate(0px, 18px);
}
.multi-metafields-container > .multi-metafield-container {
  position: relative;
}
.multi-metafields-container > .multi-metafield-container > .multi-metafield-input-container::before {
  content: " ";
}
@media (min-width: 576px) {
  .multi-metafields-container > .multi-metafield-container > .multi-metafield-input-container::before {
    background-color: #ea39b8;
    opacity: 0.5;
    position: absolute;
    width: 0.25rem;
    transform: translateX(calc(-0.75rem + 3px));
    height: calc(100% + 4px);
  }
}
@media (max-width: 575.98px) {
  .multi-metafields-container > .multi-metafield-container:not(:first-child) label.form-label {
    display: none;
  }
}
.multi-metafields-container > .multi-metafield-container:first-child > .multi-metafield-input-container::before {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.multi-metafields-container > .multi-metafield-container:last-child > .multi-metafield-input-container::before {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%;
}

:root {
  --application-color: #2fa1db;
}

/* Body */
body {
  background-color: #f9fafb;
}

.panel {
  background-color: #363636;
  border: 1px solid #454545;
  box-shadow: none;
}

.loading-overlay {
  background-color: #170229;
  opacity: 0.65;
}

/* Top navbar */
.top-navbar {
  background-color: #6f42c1;
}

.center-navbar nav.header-breadcrumb {
  color: #fff;
}

header.top-navbar .header-menu > a:hover,
header.top-navbar .header-breadcrumb .header-breadcrumb-item > a:hover {
  color: #d6d6d6 !important;
}

.top-navbar .center-navbar nav.header-breadcrumb li.header-breadcrumb-item a {
  color: #fff;
}

.top-navbar .right-navbar .header-menu a.nav-link {
  color: #fff;
}

.top-navbar .left-navbar .navbar-brand img {
  filter: invert(1);
}

.top-navbar .left-navbar .navbar-brand:hover img {
  filter: invert(1) drop-shadow(0px 0px 3px #fff);
}

.top-navbar .composed-app-icon-container > .app-icon {
  background-color: #fff;
}

.breadcrumb-link-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #44d9e8;
}

/* Sidebar */
.sidebar {
  transition: width 0.08s linear;
  box-shadow: none;
  background-color: #170229;
}

/* Scroolbar */
.sidebar-scroll {
  overflow-x: hidden;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 3px;
  background: #ffffff00;
}

.sidebar-scroll::-webkit-scrollbar * {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(149, 150, 151, 0.6);
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(125, 125, 126, 0.6);
}

.sidebar ~ main.content:after {
  background: #000;
}

.sidebar .sidebar-wrapper {
  border-right: 1px solid none;
}

.sidebar .sidebar-wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar ul.sidebar-elements li > a.sidebar-link {
  color: #fff;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.active {
  color: #3cf281;
  background-color: #343a40;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child {
  color: #3cf281;
  background-color: #343a40;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child::after {
  background-color: #6f42c1;
}

.sidebar ul.sidebar-elements li > a.sidebar-link:hover {
  color: #495057;
  background-color: #e9ecef;
}

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child {
  color: unset;
}

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child:hover,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child:hover {
  color: #495057;
  background-color: #e9ecef;
}

.sidebar ul.sidebar-elements li > a.sidebar-link.active:hover {
  color: #5d6166;
  background-color: #dee2e6;
}

ul.sidebar-elements li > a.sidebar-link.active::after {
  background-color: #6f42c1;
}

.lock-sidebar > a.btn {
  background-color: unset;
}

.sidebar ul.sidebar-elements li ul.sub-menu {
  background-color: #9a9da0;
  box-shadow: inset #11111a1a 0px 0px 0px 1px;
}

.sidebar ul.sidebar-elements li ul.sub-menu li > a.sidebar-link {
  color: #230f34;
}

/* Action bar */
.action-bar {
  box-shadow: 0 0.15rem 0.3rem #00000032;
  background-color: #363636;
}
