[Unit]
Description=misp-workers
After=network.target remote-fs.target nss-lookup.target httpd.service

[Service]
Type=forking
KillMode=none
User=www-data
Group=www-data
ExecStart=/bin/bash -c "/var/www/MISP/app/Console/worker/start.sh"
ExecStop=/bin/bash -c "/var/www/MISP/app/Console/cake CakeResque.CakeResque stop --all"
WorkingDirectory=%h
Restart=on-failure

[Install]
WantedBy=multi-user.target

