module my-startsh 1.0;

require {
	type httpd_sys_script_exec_t;
	type init_t;
	type httpd_sys_rw_content_t;
	class file { execute execute_no_trans open read };
}

#============= init_t ==============

#!!!! This avc is allowed in the current policy
allow init_t httpd_sys_rw_content_t:file execute;
allow init_t httpd_sys_rw_content_t:file { open read };
allow init_t httpd_sys_script_exec_t:file execute_no_trans;

#!!!! This avc is allowed in the current policy
allow init_t httpd_sys_script_exec_t:file { execute open read };
