@-webkit-keyframes bluePulse {
    from { color: #007d9a; text-shadow: #333 0 0 1px; }
    50% { color: #0088cc; text-shadow: #0099E6 0 0 3px; }
    to { color: #007d9a; text-shadow: #333 0 0 1px; }
  }
  
  @keyframes bluePulse {
    from { color: #007d9a; text-shadow: #333 0 0 1px; }
    50% { color: #0088cc; text-shadow: #0099E6 0 0 3px; }
    to { color: #007d9a; text-shadow: #333 0 0 1px; }
  }

  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(359deg);
     }
 }
 