.attribute_filter_header {
	float:left;
	padding-top:3px;
	padding-right:5px;
}

.attribute_filter_text {
	float:left;
	cursor: pointer;
	padding-top:3px;
	padding-left:5px;
	padding-right:5px;
	border-left:1px solid $c_attribute-grey;
	background-color:$c_white;
}

.attribute_filter_text_active {
	float:left;
	cursor: pointer;
	padding-top:3px;
	padding-left:5px;
	padding-right:5px;
	border-left:1px solid $c_attribute-grey;
	color:$c_white;
	background-color:$c_blue;
}


.attributehistogramBar {
	overflow: hidden;
	height:13px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px $c_ajax-grey;
	margin-left:0px;
}

.attributehistogram-left-table {
	padding-right:15px;
}

.attributehistogram-canvas {
	border-left:1px solid;
	border-bottom:1px solid;
}

.attributehistogram-legend {
	float: left;
	padding:5px;
	border:1px solid;
}

.attributehistogram-last {
	border-bottom:1px solid;
}

.attributehistogram-legend-box {
	display:inline-block;
	width:10px;
	height:10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px $c_ajax-grey;
}

.histogram-legendH4{
	margin-bottom: 0;
}

.attributehistogram-legend .col{float: left;margin: 0 0.4em 0 0;}

.attributeListContainer{
	position:relative;
	margin-top:10px;
}

