.taxFilter {
	float:none !important;
	margin-bottom:0px !important;
}

.taxFilterButton {
	border-radius: 0px 10px 0 0 !important;
	border: 1px solid $c_ddd-grey !important;
	border-bottom: 0px !important;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-right: 4px;
	background-color: $c_f9-grey !important;
}

