
.template_general {
	display:inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid $c_e5-grey;
}

.templateTable {
	border-collapse:collapse;
	border-spacing:0px 10px;
	width:100%;
}

.templateTableRow {
	width:100%;
	display:inline-block;
	box-shadow: 4px 2px 4px 2px $c_aa-grey;
	margin: 0 0 15px 0;
	background-color: $c_white;
	padding:0px !important;
	padding-right:0px !important;
	border: 1px solid $c_black !important;
	-webkit-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.templateTableRow80 {
	width:80% !important;
}

.templateTableArea {
	display:block;
	float:left;
	padding-top:4px;
	padding-bottom:4px;
}

.templateTableTDName {
	width: calc(15% - 6px) !important;
	padding-left:5px;
}

.templateTableTDDescription {
	width: 35% !important;
}

.templateTableTDCategory {
	width: 10% !important;
}

.templateTableTDDescriptionFile {
	width: 55% !important;
}

.templateTableTDText {
	width: 80%;
}

.templateTableTDShort {
	width: 5% !important;
}

.templateTableTDActions {
	width: 5% !important;
}

.templateTableTDTypes {
	width: 20% !important;
}

.templateTableNormal {
	width: 10% !important;
}

.templateTableCellFirst {
	box-sizing:border-box;
	display:inline-block;
	padding-left:8px !important;
}

.templateTableCell {
	padding-top:4px !important;
	padding-bottom:4px !important;
	display:inline-block;
	padding-left:0px !important;
	padding-right:0px !important;
	border-top:0px !important;
}

.templateTableHeader {
	display:inline-block;
}

.templateTableColumnName {
	color:#0077bb;
	font-weight:bold;
	text-decoration:underline;
}

.templateElementHeader {
	background:$c_blue;
	color:white;
	font-weight:bold;
	height:25px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}

.templateElementHeaderText {
	position: absolute;
	padding-left:8px;
	padding-top:4px;
}

.templateGlass {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	/*background: rgba(0,0,0,0.1.25);*/
	box-shadow: 0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.1),
		inset 0 10px 20px rgba(255,255,255,0.3),
		inset 0 -15px 30px rgba(0,0,0,0.3);

}

.addTemplateElement {
	position:relative;
	box-shadow: 4px 2px 4px 2px $c_aa-grey;
	margin: 0 0 15px 0;
	height:40px;
	line-height:40px;
	background-color: $c_white;
	padding:0px !important;
	padding-right:0px !important;
	border: 1px dashed $c_black !important;
	-webkit-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	color:$c_blue;
	font-size:200%;
	z-index:0;
}

.templateChoiceButtonLast {
	border-radius:0 0 10px 10px;
	color:$c_white;
	background-color:$c_black;
}

.templateTypeBox {
	float:left;
	margin-right:5px;
	padding-left:2px;
	padding-right:2px;
	margin-bottom:3px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px $c_ajax-grey;
	border:1px solid $c_blue;
	background-color:$c_white;
	color:$c_blue;
}

.templateChoiceButton {
	text-align:center;
	width:100%;
	line-height:30px;
	border-top:1px solid $c_black;
}

.templateChoiceButton:hover {
	background-color:$c_bb-grey !important;
	color:$c_white;
}




.populate_template_div_body {
	padding:8px;
}

.populate_template_div_body .left {
	float:left;
	width:200px;
	color:$c_blue;
	font-weight:bold;
	margin-bottom:5px;
}

.populate_template_div_body .right {
	float:left;
	width:calc(100% - 200px);
	margin-bottom:5px;
}

.populate_template_div_body .left-inverse {
	float:left;
	width:200px;
	background-color:$c_blue;
	color:$c_white;
	font-weight:bold;
	margin-bottom:5px;
}

.populate_template_div_body .right-inverse {
	float:left;
	width:calc(100% - 200px);
	background-color:$c_blue;
	color:$c_white;
	margin-bottom:5px;
}

.template_mandatory {
	font-weight:bold;
}

.template_file_box {
	background-color:$c_blue;
	color:$c_white;
	white-space:nowrap;
}

.template_file_box_container {
	float:left;
	padding:3px;
}