.toggle {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}

.toggle-left {
	border-bottom-right-radius: 0px !important;
	-webkit-bottom-right-radius: 0px !important;
	-moz-border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
	-webkit-top-right-radius: 0px !important;
	-moz-border-top-right-radius: 0px !important;
}

.toggle-right {
	border-bottom-left-radius: 0px !important;
	-webkit-bottom-left-radius: 0px !important;
	-moz-border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	-webkit-top-left-radius: 0px !important;
	-moz-border-top-left-radius: 0px !important;
}
