// Your variable overrides can go here, e.g.:
// $h1-font-size: 3rem;
$theme: "app-slate";

$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;

@import "slate/variables";

$panelBgColor: #363636;
$panelShadow: none;
$panelBorder: 1px solid #454545;

$loadingOverlayDefaultColor: $gray-900 !default;
$loadingOverlayDefaultOpacity: 0.65 !default;

$topNavbarColor: $primary;
$navbarActiveColor: #d6d6d6;
// $headerBreadcrumbLinksBoxshadow: 0 1px 0 rgba(255, 255, 255, 0.07),
//     inset 0 -1px 2px rgba(0, 0, 0, 0.5),
//     inset 0 3px 5px rgba(0, 0, 0, 0.6);

$sidebarBgColor: $secondary;
$sidebarTextColor: $white;
$sidebarActiveColor: $nav-tabs-link-active-color;
$sidebarActiveBgColor: #595f64;
$sidebarHoverColor: #60676c;
$sidebarBorder: none;
$sidebarShadows: none;
$sidebarLockButton: $secondary;
$activeSidebarLinkColor: var(--application-color);

@import "theme-default";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/navbar";
@import "slate/bootswatch";